{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<div class="row">
		
				<div class="full-width">
					<header class="s-title">
						<h2>Most popular Trips</h2>
					</header>
                </div>

			<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table " >
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
                             {% for user in users %}
                                      <tr class="text-center" id="abc{{ user.items.Trip_Id }}">
                                        <td class="product-remove" onclick="remove({{ user.items.Trip_Id }},1)"><a ><span class="ion-ios-close"></span></a></td>
                                        <td class="image-prod" >
                                            <!--<div href="item/"class="img" style="background-image:url({{ user.items.Item_Pic.url }});"></div>--></td>
                                        <td class="product-name" >
                                            <h3 > {{ user.items.T_Name }}</h3>
                                        </td>
                                            <td class="price">
                                                 {% if user.items.Item_Is_Discount %}
                                                    Rs. {{ user.items.Discount_Price }}
                                                 {% else %}
                                                    Rs. {{ user.items.price }}
                                                 {% endif %}
                                            </td>
                                        <td class="quantity text-center">
                                            <select id="leave{{ user.items.Trip_Id }}" class="dropdown" onchange="Update({{ user.items.Trip_Id }},this)"  >
                                              <option value="1">1</option>
                                              <option value="2" >2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                            </select>
                                             <script>
                                                var element = document.getElementById("leave{{ user.items.Trip_Id }}");
                                                 element.value = {{ user.quantity }};
                                            </script>
                                      </td>
                                         <td class="total" >
                                            Rs.<label id="Qtotal{{ user.items.Trip_Id }}">{{ user.total}}</label>

                                      </tr><!-- END TR-->
                                 <script>
                        function remove(avc) {
                            document.getElementById("PriceTotal").innerHTML = "wait"
                            document.getElementById("PriceTotal1").innerHTML = "wait"
                          $.ajax({

                              type:"GET",
                              url: '/ajax/Remove_from_Cart/',
                              dataType: 'json',
                              data:{
                                     Item_id: avc,
                                },
                            success: function (data) {
                                    $("#abc"+avc).remove();
                                  document.getElementById("PriceTotal").innerHTML = data.PriceTotal.toString()
                                  document.getElementById("PriceTotal1").innerHTML = data.PriceTotal.toString();
                                  document.getElementById("Count").innerHTML = "<span class=\"icon-shopping_cart\"></span>["+data.Count.toString()+"]";
                            },
                              failure: function(data) {
                            document.getElementById("PriceTotal").innerHTML = "ServerTimeout"
                            document.getElementById("PriceTotal1").innerHTML = "ServerTimeout"
                              }

                          });

                        }
                        function Update(avc,ddlFruits) {
                            var selectedText = ddlFruits.options[ddlFruits.selectedIndex].innerHTML;
                            var quan = ddlFruits.value;
                            document.getElementById("Qtotal"+avc).innerHTML = "wait"
                            document.getElementById("PriceTotal").innerHTML = "wait"
                            document.getElementById("PriceTotal1").innerHTML = "wait"
                          $.ajax({
                              type:"GET",
                              url: '/ajax/Add_in_Cart/',
                              dataType: 'json',
                              data:{
                                     Item_id: avc,
                                     quantity:quan
                                },
                            success: function (data) {
                                  document.getElementById("Qtotal"+avc).innerHTML = data.mytotal.toString();
                                  document.getElementById("PriceTotal").innerHTML = data.PriceTotal.toString();
                                  document.getElementById("PriceTotal1").innerHTML = data.PriceTotal.toString();
                                  document.getElementById("Count").innerHTML = "<span class=\"icon-shopping_cart\"></span>["+data.Count.toString()+"]";
                            },
                              failure: function(data) {
                                  document.getElementById("Qtotal"+avc).innerHTML = "ServerTimeout"
                            document.getElementById("PriceTotal").innerHTML = "ServerTimeout"
                            document.getElementById("PriceTotal1").innerHTML = "ServerTimeout"
                              }

                          });

                        }
                 </script>
                             {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
                <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						Rs. <span id="PriceTotal" >{{ Total }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						Rs. <span>0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						Rs. <span>0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						Rs. <span id="PriceTotal1">{{ Total }}</span>
    					</p>
    				</div>
                     <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <p class="text-center"><button type="submit" class="btn btn-primary py-3 px-4">Proceed to Checkout</button></p>
                    </form>
    			</div>
    		</div>
			</div>
		</section>
					
		</div>
        </div>
	</main>
	<!--//main-->
	

	{% endblock %}