{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<div class="row">
		
				<div class="full-width">
					<header class="s-title">

					</header>
                </div>
					
					<div class="deals">
						<div class="row">
							<!--deal-->
                           <div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table " >
						    <thead class="thead-primary">
						      <tr class="text-center">
                                <th></th>
						        <th><h3  > {{ t.T_Name }}</h3></th>
						        <th><h3  > {{ u.T_Name }}</h3></th>
						      </tr>
						    </thead>
						    <tbody id="mytable">
                                      <tr class="text-center">
                                        <td>   </td>
                                        <td class="image-prod" > <img  src="{{t.pic.url}}"  style="height:200px;width:100%;background-size:cover;"> </td>
                                        <td class="image-prod"><img  src="{{u.pic.url}}"  style="height:200px;width:100%;background-size:cover;"></td>
                                      </tr>
                                      <tr class="text-center">
                                        <td>  Price </td>
                                        <td> {{ t.price }}</td>
                                        <td> {{ u.price }}</td>
                                      </tr>
                                        <tr class="text-center">
                                        <td>  Starting Date </td>
                                        <td> {{ t.startDate }}</td>
                                        <td> {{ u.startDate }}</td>
                                      </tr>
                                      <tr class="text-center">
                                        <td>  Destination </td>
                                        <td> {{ t.Dest }}</td>
                                         <td> {{ u.Dest }}</td>
                                      </tr>
                                    <tr class="text-center">
                                        <td>  Host By </td>
                                        <td> {{ t.event_host.Operator_Name }}</td>
                                        <td> {{ u.event_host.Operator_Name }}</td>

                                    <tr class="text-center">
                                        <td>  No Of Days </td>
                                        <td> {{ t.noOfDays }}</td>
                                        <td> {{ u.noOfDays }}</td>
                                      </tr>
                                    <tr class="text-center">
                                        <td>  No of Nights </td>
                                        <td> {{ t.noOfNights }}</td>
                                        <td> {{ u.noOfNights }}</td>
                                      </tr>
                            <tr class="text-center">
                                        <td> Total Reviews </td>
                                        <td> {{ t.Total_Reviews }}</td>
                                        <td> {{ u.Total_Reviews }}</td>
                                      </tr>
                            <tr class="text-center">
                                        <td>  Rating Out of 5 </td>
                                        <td> {{ t.Average_Rating }}</td>
                                        <td> {{ u.Average_Rating }}</td>
                                      </tr>

						    </tbody>
						  </table>
					  </div>
    			</div>

    		</div>

			</div>

								</div>
								</div>
					
		</div>
        </div>
	</main>
	<!--//main-->
	

	{% endblock %}