{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">
		<div class="wrap">
			<div class="row">
				<div class="full-width">
				
					<!--latest offers-->
					<header class="s-title"><h2>Explore our latest offers</h2></header>
					<div class="offers">
						<div class="row">
							<!--column-->
                            {% for deal in deals %}
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="{{deal.pic.url}}" alt="" style="height:200px;width:100%;background-size:cover;"/></a></figure>
								<div class="details">
									<h3>{{ deal.deal_Name }}</h3>
									<a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
								</div>
							</article>
							<!--//column-->
							{% endfor %}
							<!--column-->

						</div>
					</div>
					<!--//latest offers-->








					<header class="s-title"><h2>Top Attractive Places around the Pakistan</h2></header>
                    <div class="destinations">
						<div class="row">
                            {% for dest in destinations %}
							<article class="one-fourth">
                                <figure><a href="Destinations/{{ dest.Des_Id }}" title=""><img src="{{dest.pic.url}}" alt="" style="height:200px;width:100%;background-size:cover;"/></a></figure>
                                <div class="details">
                                    <!--<a href="location.html" title="View all" class="gradient-button">View all</a>-->
                                    <h4>{{dest.Des_Name}}</h4> <span class="count">{{dest.Op_review}} Rreviews</span>
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                    <span class="count">Average Rating</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">{{dest.Op_rating}}</span>
                                    <span class="count">Total Trips</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">150</span>
                                </div>
                            </article>
                            {% endfor %}
						</div>
					</div>
					<!--//top destinations-->





					<header class="s-title"><h2>Most popular Trips</h2></header>
					<div class="deals">
						<div class="row">
							<!--deal-->
                            {% for trip in trips %}
                                <article class="one-fourth">
                                    <figure>
                                        <a href="Trip/{{ trip.Trip_Id }}" >
                                            <img  src="{{trip.pic.url}}" style="height:200px;width:100%;background-size:cover;"  /></a>
                                    </figure>
                                    <div class="details">
                                        <a href="Trip/{{ trip.Trip_Id }}">
                                            <h3>{{trip.T_Name}}</h3>
                                        </a>
                                        <span class="date"> {{trip.startDate}} </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									    <span class="days"> {{trip.noOfDays}} Days/ {{ trip.noOfNights }} Night </span>
                                        <span class="price" ><meta itemprop="currency" content="PKR" />Price (per person)<em itemprop="price">Rs. {{trip.price}}</em></span>
										<div class="description"> <p>Starting Location: {{trip.startLocation}}</p> </div>
                                        <a href="#" title="Book now" class="gradient-button">Book now</a>
                                    </div>
                                </article>
								
                                {% endfor %}
								
								</div>
								</div>



			        <header class="s-title"><h2>Top Top Operators</h2></header>
                    <div class="destinations">
						<div class="row">
                            {% for op in operators %}
							<article class="one-fourth">
                                <figure><a href="Operator/{{ op.Op_Id }}" title=""><img src="{{op.pic.url}}" alt="" style="height:200px;width:100%;background-size:cover;"/></a></figure>
                                <div class="details">

                                    <h4>{{op.Operator_Name}}</h4> <span class="count">{{op.Op_review}} Rreviews</span>
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                    <span class="count">Average Rating</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">{{op.Op_rating}}</span>
                                    <span class="count">Total Trips</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">150</span>
                                </div>
                            </article>
                            {% endfor %}
						</div>
					</div>



                    <!--info boxes-->
					<div class="boxes">
						<div class="row">
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Handpicked Trips</h4>
								<p>All Pak tour Expert fulfil strict selection criteria. Each search is chosen individually and inclusion cannot be bought. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Detailed Descriptions</h4>
								<p>To give you an accurate impression of the Trips, we endeavor to publish transparent, balanced and precise trips descriptions. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Exclusive Knowledge</h4>
								<p>We’ve done our research. Our scouts are always busy finding out more about our Trips, the surroundings and activities on offer nearby.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Passionate Service</h4>
								<p>Pak Tour Expert’s team will cater to your special requests. We offer expert and passionate advice for finding the right Trips. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Best Price Guarantee</h4>
								<p>We offer the best trips at the best prices. If you find the same trip category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Secure Booking</h4>
								<p>Pak tour expert system is secure and your credit card and personal information is encrypted.We work to high standards and guarantee your privacy. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Benefits for Tour operators</h4>
								<p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Any Questions?</h4>
								<p>Call us on <em>92-333-444555666</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.</p>
							</div>
						</article>
						<!--//column-->
					</div>
				</div>
					<!--//info boxes-->

			</div>
		</div>
        </div>
	</main>
	<!--//main-->
{% endblock %}
