{% extends 'Frontend/Repeater.html' %}
{% load  static %}
<head>
    <title>Pak Tour Expert</title>
</head>
{% block content %}
			<!-- start banner Area -->
    <section class="banner-area" id="home">
				<!-- Start Header Area -->
				<header class="default-header">
					<nav class="navbar navbar-expand-lg  navbar-light">
						<div class="container">
							  <a class="navbar-brand" href="index.html">
							  	<!--<img src="{% static 'Frontend/img/logo.png' %}" alt=""> -->
                                  <h3 class="logo" >Pak Tour Expert</h3>
							  </a>
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="text-white lnr lnr-menu"></span>
							  </button>

							  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
							    <ul class="navbar-nav">
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#secvice">Service</a></li>
									<li><a href="#gallery">Gallery</a></li>
									<li><a href="#faq">Faq</a></li>
									<li><a href="#contact">Contact</a></li>
									<!-- Dropdown -->
								    <li class="dropdown">
								      <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								        Pages
								      </a>
								      <div class="dropdown-menu">
								        <a class="dropdown-item" href="generic.html">Generic</a>
								        <a class="dropdown-item" href="elements.html">Elements</a>
								      </div>
								    </li>
							    </ul>
							  </div>
						</div>
					</nav>
				</header>
				<!-- End Header Area -->
			</section>
    <section class="default-banner">
    <div class="active-blog-slider">
            <div class="item-slider relative" style="background: url({% static 'Frontend/img/slider1.jpg' %});background-size: cover">
                <div class="overlay" style="background: transparent"></div>
                <div class="container">
                    <div class="row fullscreen justify-content-center align-items-center">
                        <div class="col-md-10 col-12">
                            <div class="banner-content text-center">
                                  <h4 class="text-white mb-20 text-uppercase">Starting From as Low as 9,999</h4>
                            <h1 class="text-uppercase text-white">Gilgit Baltistan</h1>
                                <a href="#" class="text-uppercase header-btn">Discover Now</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item-slider relative" style="background: url({% static 'Frontend/img/slider2.jpg' %});background-size: cover;">
                <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
                <div class="container">
                    <div class="row fullscreen justify-content-center align-items-center">
                        <div class="col-md-10 col-12">
                            <div class="banner-content text-center">
                                <h4 class="text-white mb-20 text-uppercase">Starting From as Low as 5,999</h4>
                            <h1 class="text-uppercase text-white">Kashmir</h1>
                                <a href="#" class="text-uppercase header-btn">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slider relative" style="background: url({% static 'Frontend/img/slider3.jpg' %});background-size: cover;">
                <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
                <div class="container">
                    <div class="row fullscreen justify-content-center align-items-center">
                        <div class="col-md-10 col-12">
                            <div class="banner-content text-center">
                                 <h4 class="text-white mb-20 text-uppercase">Starting From as Low as 4,999</h4>
                            <h1 class="text-uppercase text-white">KPK</h1>
                                <a href="#" class="text-uppercase header-btn">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
    <section class="find">
		<div class="container">
            <form action="#" id="find_form" class="find_form d-flex flex-row align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
                <div class=" find_item">
                    <div>Destination:</div>
                    <input type="text" class=" find_inputs" required="required" placeholder="Keyword here">
                </div>
                <div class=" find_item">
                    <div>Adventure type:</div>
                    <select name="adventure" id="adventure" class="dropdown_item_select find_inputs" style="background-image: url({% static 'Frontend/img/down.png' %});">
                        <option>Tours</option>
                        <option>Hotels</option>
                        <option>Weather</option>
                        <option>Traffic</option>
                        <option>Restaurants</option>
                        <option>Guide</option>
                    </select>
                </div>
                <button class=" button find_button">Find</button>
            </form>
		</div>

    </section>

 <div class="site-section site-section-sm pb-0">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
              <div class="mr-auto">
                <a href="index.html" class="icon-view view-module active"><span class="icon-view_module"></span></a>
                <a href="view-list.html" class="icon-view view-list"><span class="icon-view_list"></span></a>

              </div>
              <div class="ml-auto d-flex align-items-center">
                <div>
                  <a href="#" class="view-list px-3 border-right active">All</a>
                  <a href="#" class="view-list px-3 border-right">Trending</a>
                  <a href="#" class="view-list px-3">Top</a>
                </div>


                <div class="select-wrap">
                  <span class="icon icon-arrow_drop_down"></span>
                  <select class="form-control form-control-sm d-block rounded-0">
                    <option value="">Sort by</option>
                    <option value="">Ascending</option>
                    <option value="">Descending</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="site-section site-section-sm bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="#" class="property-thumbnail">
                 <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Trending</span>
                </div>
                <img src="{% static 'frontend/img/hero_bg_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="#">Trip to Sakardu</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Sakardu,Naran,Kaghan</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 12,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Days</span>
                    <span class="property-specs-number">5</span>

                  </li>
                  <li>
                    <span class="property-specs">Nights</span>
                    <span class="property-specs-number">4</span>

                  </li>
                </ul>
                    <span class="property-location d-block mb-3">BBQ, Photography, Seightseen</span>
              </div>
            </div>
          </div>



        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-pagination">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <span>...</span>
              <a href="#">10</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <div class="site-section-title">
              <h2>Why Choose Us?</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores quisquam saepe architecto error corporis aliquam. Cum ipsam a consectetur aut sunt sint animi, pariatur corporis, eaque, deleniti cupiditate officia.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-house"></span>
              <h2 class="service-heading">Research Subburbs</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
              <p><span class="read-more">Read More</span></p>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-sold"></span>
              <h2 class="service-heading">Sold Houses</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
              <p><span class="read-more">Read More</span></p>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-camera"></span>
              <h2 class="service-heading">Security Priority</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
              <p><span class="read-more">Read More</span></p>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}