<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Book Your Travel - Online Booking HTML Template">
	<meta name="description" content="Book Your Travel - Online Booking HTML Template">
	<meta name="author" content="themeenergy.com">
	
	<title>Book Your Travel - Location</title>
	
	<link rel="stylesheet" href="{% static 'Frontend/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'Frontend/css/theme-turqoise.css' %}" id="template-color" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700&amp;subset=latin,latin-ext,greek-ext,greek,cyrillic,vietnamese,cyrillic-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="{% static 'Frontend/js/e808bf9397.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'Frontend/images/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'Frontend/css/styler.css' %}" type="text/css" />
	
</head>
<body class="single-location">
	<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->
	
	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<div class="logo"><a href="index.html" title="Book Your Travel"><img src="{% static 'Frontend/images/txt/logo.png' %}" alt="Book Your Travel" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>
					<ul class="profile-nav">
						<li class="active"><a href="#" title="My Account">My Account</a></li>
						<li><a href="login.html" title="Login">Login</a></li>
						<li><a href="my_account.html" title="Settings">Settings</a></li>
					</ul>
					<ul class="lang-nav">
						<li class="active"><a href="#" title="English (US)">English (US)</a></li>
						<li><a href="#" title="English (UK)">English (UK)</a></li>
						<li><a href="#" title="Deutsch">Deutsch</a></li>
						<li><a href="#" title="Italiano">Italiano</a></li>
						<li><a href="#" title="Русский">Русский</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="#" title="$US Dollar">$US Dollar</a></li>
						<li><a href="#" title="€ Euro">€ Euro</a></li>
						<li><a href="#" title="£ Pound">£ Pound</a></li>
					</ul>
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="http://themeenergy.com/themes/html/book-your-travel/search-form">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Support number</span>
				<span class="number">1- 555 - 555 - 555</span>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="hotels.html" title="Hotels">Hotels</a>
						<ul>
							<li><a href="#">Secondary navigation</a></li>
							<li><a href="#">Example links</a>
								<ul>
									<li><a href="#">Third level navigation</a></li>
									<li><a href="#">Example links</a>
										<ul>
											<li><a href="#">Fourth level navigation</a></li>
											<li><a href="#">Example links</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="flights.html" title="Flights">Flights</a></li>
					<li><a href="flight_and_hotels.html" title="Flight + Hotel">Flight + Hotel</a></li>
					<li><a href="self_caterings.html" title="Self catering">Self catering</a></li>
					<li><a href="cruises.html" title="Cruises">Cruises</a></li>
					<li><a href="car_rentals.html" title="Car rental">Car rental</a></li>
					<li class="current"><a href="locations.html" title="Locations">Locations</a>
						<ul>
							<li><a href="location.html" title="Single Location">Single Location</a>
						</ul>
					</li>
					<li><a href="hot_deals.html" title="Hot deals">Hot deals</a></li>
					<li class="has-mega"><a href="#" title="Pages">Pages</a>
						<ul class="mega">
							<li>
								<div class="row">
									<div class="one-fifth">
										<p>COMMON PAGES</p>
										<ul>
											<li><a href="page_left_sidebar.html" title="Page with left sidebar">Page with left sidebar</a></li>
											<li><a href="page_right_sidebar.html" title="Page with right sidebar">Page with right sidebar</a></li>
											<li><a href="page_both_sidebars.html" title="Page with both sidebars">Page with both sidebars</a></li>
											<li><a href="page_no_sidebars.html" title="Page with no sidebars">Page with no sidebars</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>LISTING LAYOUTS</p>
										<ul>
											<li><a href="hotels_2col.html" title="Listing 2 columns">Listing 2 columns</a></li>
											<li><a href="hotels_3col.html" title="Listing 3 columns">Listing 3 columns</a></li>
											<li><a href="hotels.html" title="Listing 4 columns">Listing 4 columns</a></li>
											<li><a href="hotel.html" title="Single listing">Single listing</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>USER PAGES</p>
										<ul>
											<li><a href="login.html" title="Login">Login</a></li>
											<li><a href="register.html" title="Register">Register</a></li>
											<li><a href="my_account.html" title="My Account">My account</a></li>
											<li><a href="error.html" title="Error 404">Error 404</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>SPECIALTY PAGES</p>
										<ul>
											<li><a href="search_results.html" title="Search results hotels">Search results hotels</a></li>
											<li><a href="search_results_flights.html" title="Search results flights">Search results flights</a></li>
											<li><a href="get_inspired.html" title="Get inspired">Get inspired</a></li>
											<li><a href="get_inspired_results.html" title="Get inspired results">Get inspired results</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>&nbsp;</p>
										<ul>
											<li><a href="booking-step1.html" title="Booking step 1">Booking step 1</a></li>
											<li><a href="booking-step2.html" title="Booking step 2">Booking step 2</a></li>
											<li><a href="booking-step3.html" title="Booking step 3">Booking step 3</a></li>
											<li><a href="loading.html" title="Loading">Loading</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="contact.html" title="Contact">Contact</a></li>
					<li><a href="blog.html" title="Blog">Blog</a>
						<ul>
							<li><a href="blog_single.html" title="Single Post">Single Post</a>
						</ul>
					</li>
					<li><a href="http://themeforest.net/item/book-your-travel-online-booking-html-template/3813953?ref=themeenergy" title="Purchase">Purchase</a></li>
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->
	
	<!--main-->
	<main class="main">		
		<div class="wrap">
		
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul>
					<li><a href="#" title="Home">Home</a></li>
					<li><a href="#" title="Travel guides">Travel guides</a></li>
					<li>Skardu</li>                                       
				</ul>
				<!--//crumbs-->
			</nav>
			<!--//breadcrumbs-->
			
			<div class="row">
				<!--three-fourth content-->
				<section class="three-fourth">
				
					<h1>Skardu</h1>
					
					<!--inner navigation-->
					<nav class="inner-nav">
						<ul>
							<li><a href="#general_info" title="General information">General information</a></li>
							<li><a href="#culture" title="Culture and history">Culture and history</a></li>
							<li><a href="#hotels" title="Hotels">Trips</a></li>
							<li><a href="#reviews" title="Reviews">Reviews</a></li>
						</ul>
					</nav>
					<!--//inner navigation-->
					
					<!--General information-->
					<section id="general_info" class="tab-content">
						<article>
							<h2>Skardu</h2>
							<figure><img src="{% static 'Frontend/images/uploads/skardu.jpg' %}" alt="Things to do - London general" /></figure>
							<p><strong>Skardu is a diverse and exciting city with some of the best sights and attractions in the world. </strong></p>
							<p>See Skardu from above on the Skardu Eye; cherish the nature; examine some of the world’s most precious treasures at the Skardu castle.</p>
						
							<table>
								<tr>
									<th>Sovereign state</th>
									<td>Gilgit Baltistan</td>
								</tr>
								<tr>
									<th>Country</th>
									<td>Pakistan</td>
								</tr>
								<tr>
									<th>Area</th>
									<td>1,570 km2 (607 sq mi)</td>
								</tr>
								<tr>
									<th>Time zone</th>
									<td>GMT</td>
								</tr>
								<tr>
									<th>Languages spoken</th>
									<td>Local Balti</td>
								</tr>
								<tr>
									<th>Currency</th>
									<td>PKR</td>
								</tr>
								<tr>
									<th>Visa requirements</th>
									<td>No Visa needed</td>
								</tr>
							</table>
						</article>
					</section>
					<!--//General information-->
					
					
					
					
					<!--Culture and history-->
					<section id="culture" class="tab-content">
						<article>
							<h2>Culture and history</h2>
							<figure><img src="images/uploads/skardu2.jpg' %}" alt="Things to do - London general" /></figure>
							<p><strong>For a display of Balti culture and ceremony, watch the women playing traditional musical instruments.</strong></p>
							<p>The most elegant part of the women dress of Gilgit Baltistan is the traditional cap. Various types of caps are used. The most popular cap is the beautiful embroidered Iraghi cap with the traditional piece of the jewel called silsila. Many other types of caps are used in various regions. </p>
							<p>The traditional cap is soft round topped woollen hat. It is made by the local artisan and is available in various colours. Whitecaps are most popular in the region and considered as a part of the formal local dress. In many areas people especially the older generation still wear their traditional cap all the time with pride. They consider it a sign of honour. The most striking feature of the cap is the duck plume and the feather stuck in front or on the side of the cap. It gives a very elegant look to the cap. It is considered a part of formal dress cap and used in groom's dress.</p>
							<p>The traditional hat of Gilgit-Baltistan is a soft, round-topped, men’s hat, typically made of wool and found in any of a variety of earthy colours: brown, black, grey, or ivory. Before it is fitted, the traditional hat resembles a bag with a round, flat bottom. The wearer rolls up the sides nearly to the top, forming a thick band, which then rests on the head like a beret or cap.</p>
						</article>
					</section>
					<!--//Culture and history-->
					
					<!--Hotels-->
					<section id="hotels" class="tab-content">
						<div class="deals row">
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel1.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Best ipsum hotel 
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 50</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel2.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Tropicana hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 9 /10</span>
									<span class="price">Price per room per night from  <em>$ 80</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel3.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Spa Resort hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 70</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel4.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Best ipsum hotel 
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 50</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel5.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Tropicana hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 9 /10</span>
									<span class="price">Price per room per night from  <em>$ 80</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel6.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Spa Resort hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 70</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--bottom navigation-->
							<div class="bottom-nav full-width">
								<!--back up button-->
								<a href="#" class="scroll-to-top" title="Back up">Back up</a> 
								<!--//back up button-->
								
								<!--pager-->
								<div class="pager">
									<span><a href="#">First page</a></span>
									<span><a href="#">&lt;</a></span>
									<span class="current">1</span>
									<span><a href="#">2</a></span>
									<span><a href="#">3</a></span>
									<span><a href="#">4</a></span>
									<span><a href="#">5</a></span>
									<span><a href="#">&gt;</a></span>
									<span><a href="#">Last page</a></span>
								</div>
								<!--//pager-->
							</div>
							<!--//bottom navigation-->
						</div>
					</section>
					<!--//Hotels-->				
					
					
					<!--reviews-->
					<section id="reviews" class="tab-content">
						<article>
							<h2>Score</h2>
							<div class="score">
								<span class="achieved">8 </span>
								<span> / 10</span>
								<p class="info">Based on 782 reviews</p>
								<p class="disclaimer">Guest reviews are written by our customers <strong>after their stay</strong> at the location.</p>
							</div>
							
							<dl class="chart">
								<dt>Clean</dt>
								<dd><span id="data-one" style="width:80%;">8</span></dd>
								<dt>Comfort</dt>
								<dd><span id="data-two" style="width:60%;">6</span></dd>								
								<dt>Services</dt>
								<dd><span id="data-five" style="width:70%;">7</span></dd>
								<dt>Value for money</dt>
								<dd><span id="data-six" style="width:100%;">10</span></dd>
							</dl>
						</article>
						
						<article>
							<h2>Guest reviews</h2>
							<ul class="reviews">
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span>Solo Traveller North way22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
							</ul>
						</article>
					</section>
					<!--//reviews-->
					
				</section>
				<!--//three-fourth content-->
				
				<!--sidebar-->
				<aside class="one-fourth right-sidebar">

					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article>
					<!--//Need Help Booking?-->
					
					<!--Why us?-->
					<article class="widget">
						<h4>Why us?</h4>
						<h5>Best Recommendation</h5>
						<p>Get the best suggestions, or get the best trip recommendation free of cost.</p>
						<h5>Best Platform</h5>
						<p>140+ travelling companies 3 million guest reviews</p>
						<h5>We’re Always Here</h5>
						<p>Call or email us, anytimeGet 24-hour support before, during, and after your trip</p>
					</article>
					<!--//Why us?-->
					
					
					
					
				</aside>
				<!--//sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
	<!--footer-->
	<footer class="footer">
		<div class="wrap">
			<div class="row">
				<!--column-->
				<article class="one-fourth">
					<h6>Book Your Travel</h6>
					<p>1400 PennsylSUVia Ave. Washington, DC</p>
					<p><em>P:</em> 24/7 customer support: 1-555-555-5555</p>
					<p><em>E:</em> <a href="#" title="booking@mail.com">booking@mail.com</a></p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Customer support</h6>
					<ul>
						<li><a href="#" title="Faq">Faq</a></li>
						<li><a href="#" title="How do I make a reservation?">How do I make a reservation?</a></li>
						<li><a href="#" title="Payment options">Payment options</a></li>
						<li><a href="#" title="Booking tips">Booking tips</a></li>
					</ul>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
							<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
							<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
							<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
							<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
							<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
						</ul>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Don’t miss our exclusive offers</h6>
					<form id="newsletter" action="http://themeenergy.com/themes/html/book-your-travel/newsletter.php" method="post">
						<fieldset>
							<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
							<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
						</fieldset>
					</form>
				</article>
				<!--//column-->
				
				<div class="bottom full-width">
					<p class="copy">Copyright 2016 Book your travel ltd. All rights reserved</p>
					<nav>
						<ul>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>
							<li><a href="#" title="Partners">Partners</a></li>
							<li><a href="#" title="Customer service">Customer service</a></li>
							<li><a href="#" title="FAQ">FAQ</a></li>
							<li><a href="#" title="Careers">Careers</a></li>
							<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
							<li><a href="#" title="Privacy statement">Privacy statement</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!---footer-->
	
	<script src="{% static 'Frontend/js/jquery.min.js' %}"></script>
	<script src="{% static 'Frontend/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/jquery.uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/jquery.slimmenu.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/scripts.js' %}"></script>
	
	<!-- TEMPLATE STYLES -->
	<div id="template-styles">
		<h2>Template Styles <a href="#"><img class="s-s-icon" src="{% static 'Frontend/images/settings.png' %}" alt="Style switcher" /></a></h2>
		<div>
		<h3>Colors</h3>
			<ul class="colors" >
				<li><a href="#" class="yellow" title="yellow"></a></li>
				<li><a href="#" class="orange" title="orange"></a></li>
				<li><a href="#" class="strawberry" title="strawberry"></a></li>
				<li><a href="#" class="pink" title="pink"></a></li>
				<li><a href="#" class="purple" title="purple"></a></li>
				<li><a href="#" class="blue" title="blue"></a></li>
				<li><a href="#" class="turqoise" title="turqoise"></a></li>
				<li><a href="#" class="black" title="black"></a></li>
			</ul>
		</div>
	</div>
	<script src="js/styler.js"></script>
</body>

<!-- Mirrored from themeenergy.com/themes/html/book-your-travel/location.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 05:23:49 GMT -->
</html>