{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	
	<!--main-->
	<main class="main">		
		<div class="wrap">
		
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul>
					<li><a href="#" title="Home">Home</a></li>
					<li><a href="#" title="Travel guides">Tour Operator</a></li>
					<li>abc</li>
				</ul>
				<!--//crumbs-->
			</nav>
			<!--//breadcrumbs-->
			
			<div class="row">
				<!--three-fourth content-->
				<section class="three-fourth">
				
					<h1>Skardu</h1>
					
					<!--inner navigation-->
					<nav class="inner-nav">
						<ul>
							<li><a href="#general_info" title="General information">General information</a></li>
							<li><a href="#culture" title="Culture and history">Culture and history</a></li>
							<li><a href="#hotels" title="Hotels">Trips</a></li>
							<li><a href="#reviews" title="Reviews">Reviews</a></li>
						</ul>
					</nav>
					<!--//inner navigation-->
					
					<!--General information-->
					<section id="general_info" class="tab-content">
						<article>
							<h2>Skardu</h2>
							<figure><img src="{% static 'Frontend/images/uploads/skardu.jpg' %}" alt=" " /></figure>
							<p><strong>Skardu is a diverse and exciting city with some of the best sights and attractions in the world. </strong></p>
							<p>See Skardu from above on the Skardu Eye; cherish the nature; examine some of the world’s most precious treasures at the Skardu castle.</p>
						
							<table>
								<tr>
									<th>Sovereign state</th>
									<td>Gilgit Baltistan</td>
								</tr>
								<tr>
									<th>Country</th>
									<td>Pakistan</td>
								</tr>
								<tr>
									<th>Area</th>
									<td>1,570 km2 (607 sq mi)</td>
								</tr>
								<tr>
									<th>Time zone</th>
									<td>GMT</td>
								</tr>
								<tr>
									<th>Languages spoken</th>
									<td>Local Balti</td>
								</tr>
								<tr>
									<th>Currency</th>
									<td>PKR</td>
								</tr>
								<tr>
									<th>Visa requirements</th>
									<td>No Visa needed</td>
								</tr>
							</table>
						</article>
					</section>
					<!--//General information-->
					
					
					
					
					<!--Culture and history-->
					<section id="culture" class="tab-content">
						<article>
							<h2>Culture and history</h2>
							<figure><img src="images/uploads/skardu2.jpg' %}" alt="Things to do - London general" /></figure>
							<p><strong>For a display of Balti culture and ceremony, watch the women playing traditional musical instruments.</strong></p>
							<p>The most elegant part of the women dress of Gilgit Baltistan is the traditional cap. Various types of caps are used. The most popular cap is the beautiful embroidered Iraghi cap with the traditional piece of the jewel called silsila. Many other types of caps are used in various regions. </p>
							<p>The traditional cap is soft round topped woollen hat. It is made by the local artisan and is available in various colours. Whitecaps are most popular in the region and considered as a part of the formal local dress. In many areas people especially the older generation still wear their traditional cap all the time with pride. They consider it a sign of honour. The most striking feature of the cap is the duck plume and the feather stuck in front or on the side of the cap. It gives a very elegant look to the cap. It is considered a part of formal dress cap and used in groom's dress.</p>
							<p>The traditional hat of Gilgit-Baltistan is a soft, round-topped, men’s hat, typically made of wool and found in any of a variety of earthy colours: brown, black, grey, or ivory. Before it is fitted, the traditional hat resembles a bag with a round, flat bottom. The wearer rolls up the sides nearly to the top, forming a thick band, which then rests on the head like a beret or cap.</p>
						</article>
					</section>
					<!--//Culture and history-->
					
					<!--Hotels-->
					<section id="hotels" class="tab-content">
						<div class="deals row">
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel1.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Best ipsum hotel 
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 50</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel2.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Tropicana hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 9 /10</span>
									<span class="price">Price per room per night from  <em>$ 80</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel3.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Spa Resort hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 70</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel4.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Best ipsum hotel 
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 50</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel5.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Tropicana hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 9 /10</span>
									<span class="price">Price per room per night from  <em>$ 80</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--deal-->
							<article class="full-width">
								<figure><a href="hotel.html" title=""><img src="images/uploads/hotel6.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Spa Resort hotel
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">London  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">Price per room per night from  <em>$ 70</em> </span>
									<div class="description">
										<p>Overlooking the Aqueduct and Nature Park, hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
									</div>
									<a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							<!--//deal-->
							
							<!--bottom navigation-->
							<div class="bottom-nav full-width">
								<!--back up button-->
								<a href="#" class="scroll-to-top" title="Back up">Back up</a> 
								<!--//back up button-->
								
								<!--pager-->
								<div class="pager">
									<span><a href="#">First page</a></span>
									<span><a href="#">&lt;</a></span>
									<span class="current">1</span>
									<span><a href="#">2</a></span>
									<span><a href="#">3</a></span>
									<span><a href="#">4</a></span>
									<span><a href="#">5</a></span>
									<span><a href="#">&gt;</a></span>
									<span><a href="#">Last page</a></span>
								</div>
								<!--//pager-->
							</div>
							<!--//bottom navigation-->
						</div>
					</section>
					<!--//Hotels-->				
					
					
					<!--reviews-->
					<section id="reviews" class="tab-content">
						<article>
							<h2>Score</h2>
							<div class="score">
								<span class="achieved">8 </span>
								<span> / 10</span>
								<p class="info">Based on 782 reviews</p>
								<p class="disclaimer">Guest reviews are written by our customers <strong>after their stay</strong> at the location.</p>
							</div>
							
							<dl class="chart">
								<dt>Clean</dt>
								<dd><span id="data-one" style="width:80%;">8</span></dd>
								<dt>Comfort</dt>
								<dd><span id="data-two" style="width:60%;">6</span></dd>								
								<dt>Services</dt>
								<dd><span id="data-five" style="width:70%;">7</span></dd>
								<dt>Value for money</dt>
								<dd><span id="data-six" style="width:100%;">10</span></dd>
							</dl>
						</article>
						
						<article>
							<h2>Guest reviews</h2>
							<ul class="reviews">
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span>Solo Traveller North way22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
							</ul>
						</article>
					</section>
					<!--//reviews-->
					
				</section>
				<!--//three-fourth content-->
				
				<!--sidebar-->
				<aside class="one-fourth right-sidebar">

					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article>
					<!--//Need Help Booking?-->
					
					<!--Why us?-->
					<article class="widget">
						<h4>Why us?</h4>
						<h5>Best Recommendation</h5>
						<p>Get the best suggestions, or get the best trip recommendation free of cost.</p>
						<h5>Best Platform</h5>
						<p>140+ travelling companies 3 million guest reviews</p>
						<h5>We’re Always Here</h5>
						<p>Call or email us, anytimeGet 24-hour support before, during, and after your trip</p>
					</article>
					<!--//Why us?-->
					
					
					
					
				</aside>
				<!--//sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
	{% endblock %}