{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<div class="row">
		
				<div class="full-width">
					<header class="s-title">
						<h2>Most popular Destinations Around Pakistan</h2>
					</header>
                </div>
					
					<div class="destinations">
						<div class="row">
							{% for dest in destinations %}
							<article class="one-fourth">
                                <figure><a href="Destinations/{{ dest.Des_Id }}" title=""><img src="{{dest.pic.url}}" alt="" style="height:200px;width:100%;background-size:cover;"/></a></figure>
                                <div class="details">
                                    <!--<a href="location.html" title="View all" class="gradient-button">View all</a>-->
                                    <h4>{{dest.Des_Name}}</h4>
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                    <span class="count">Reviews</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <span class="">{{dest.Total_Reviews}}</span>
                                    <span class="count">Average Rating</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">{{dest.Average_Rating}}</span>
                                    <span class="count">Total Trips</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">{{dest.Total_Trips}}</span>
                                </div>
                            </article>
                            {% endfor %}
						</div>
					</div>
			<div class="bottom-nav">
						<!--back up button-->
						<a href="#" class="scroll-to-top" title="Back up">Back up</a> 
						<!--//back up button-->
						</div>
						<!--pager-->

						<!--//pager-->
					
		</div>
        </div>
	</main>
	<!--//main-->
	

	{% endblock %}