{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	
	<!--main-->
	<main class="main">		
		<div class="wrap">
		
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul>
					<li><a href="#" title="Home">Home</a></li>
					<li><a href="#" title="Travel guides">Travel guides</a></li>
					<li>{{p.Des_Name}}</li>
				</ul>
				<!--//crumbs-->
			</nav>
			<!--//breadcrumbs-->
			
			<div class="row">
				<!--three-fourth content-->
				<section class="three-fourth">
				
					<h1>{{p.Des_Name}}</h1>
					
					<!--inner navigation-->
					<nav class="inner-nav">
						<ul>
							<li><a href="#general_info" title="General information">General information</a></li>
							<li><a href="#culture" title="Culture and history">Culture and history</a></li>
							<li><a href="#hotels" title="Hotels">Trips</a></li>
							<li><a href="#reviews" title="Reviews">Reviews</a></li>
						</ul>
					</nav>
					<!--//inner navigation-->
					
					<!--General information-->
					<section id="general_info" class="tab-content">
						<article>
							<h2>{{p.Des_Name}}</h2>
							<figure><img src="{{p.pic.url}}" alt=" " /></figure>
							<p><strong>{{p.Des_Description1}} </strong></p>
							<table>
								<tr>
									<th>Sovereign state</th>
									<td>{{p.state}}</td>
								</tr>
								<tr>
									<th>Country</th>
									<td>Pakistan</td>
								</tr>
								<tr>
									<th>Area</th>
									<td>{{p.Area}}</td>
								</tr>
								<tr>
									<th>Time zone</th>
									<td>GMT</td>
								</tr>
								<tr>
									<th>Languages spoken</th>
									<td>{{p.Languages}}</td>
								</tr>
								<tr>
									<th>Currency</th>
									<td>PKR</td>
								</tr>
								<tr>
									<th>Visa requirements</th>
									<td>No Visa needed</td>
								</tr>
							</table>
						</article>
					</section>
					<!--//General information-->
					
					
					
					
					<!--Culture and history-->
					<section id="culture" class="tab-content">
						<article>
							<h2>Culture and history</h2>
							<figure><img src="{{p.pic.url}}" alt="Things to do " /></figure>
							<p><strong>{{ p.history3 }}</strong></p>
							<p>{{ p.history1 }}</p>
							 <p>{{ p.history2 }}</p>
						</article>
					</section>
					<!--//Culture and history-->
					
					<!--Hotels-->
					<section id="hotels" class="tab-content">
						<div class="deals row">
							<!--deal-->
                            {% for trip in trips %}
							<article class="full-width">
								<figure><a href="Trip/{{trip.Trip_Id}}" title=""><img src="{{trip.pic.url}}" alt="" /></a></figure>
								<div class="details">
									<h3>{{ trip.T_Name }}
										<span class="stars">
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
											<i class="material-icons">&#xE838;</i>
										</span>
									</h3>
									<span class="address">{{trip.startLocation}}  •  <a href="#">Show on map</a></span>
									<span class="rating"> 8 /10</span>
									<span class="price">  <em> Rs. {{ trip.price }}</em> </span>
									<div class="description">
										<p> {{ trip.noOfDays }} Days / {{ trip.noOfNights }} Nights</p>
									</div>
									<a href="#" title="Book now" class="gradient-button">Book now</a>
								</div>
							</article>
							{% endfor %}
							<!--bottom navigation-->
							<div class="bottom-nav full-width">
								<!--back up button-->
								<a href="#" class="scroll-to-top" title="Back up">Back up</a> 
								<!--//back up button-->
								
								<!--pager-->
								<div class="pager">
									<span><a href="#">First page</a></span>
									<span><a href="#">&lt;</a></span>
									<span class="current">1</span>
									<span><a href="#">2</a></span>
									<span><a href="#">3</a></span>
									<span><a href="#">4</a></span>
									<span><a href="#">5</a></span>
									<span><a href="#">&gt;</a></span>
									<span><a href="#">Last page</a></span>
								</div>
								<!--//pager-->
							</div>
							<!--//bottom navigation-->
						</div>
					</section>
					<!--//Hotels-->				
					
					
					<!--reviews-->
					<section id="reviews" class="tab-content">
						<article>
							<h2>Score</h2>
							<div class="score">
								<span class="achieved">{{p.Op_rating}} </span>
								<span> / 5</span>
								<p class="info">Based on {{p.Op_review}} reviews</p>
								<p class="disclaimer">Guest reviews are written by our customers <strong>after their stay</strong> at the location.</p>
							</div>
							
							<dl class="chart">
								<dt>Clean</dt>
								<dd><span id="data-one" style="width:80%;">8</span></dd>
								<dt>Comfort</dt>
								<dd><span id="data-two" style="width:60%;">6</span></dd>								
								<dt>Services</dt>
								<dd><span id="data-five" style="width:70%;">7</span></dd>
								<dt>Value for money</dt>
								<dd><span id="data-six" style="width:100%;">10</span></dd>
							</dl>
						</article>
						
						<article>
							<h2>Guest reviews</h2>
							<ul class="reviews">
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span>Solo Traveller North way22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
								
								<!--review-->
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>Anonymous</span><br />Solo Traveller North way<br />22/06/2016</address>
									</figure>
									<div class="rev pro"><p>It was a warm friendly place. Too close to nature and lush green trees freshen my mind.</p></div>
									<div class="rev con"><p>Roads were quite heart wrenching.</p></div>
								</li>
								<!--//review-->
							</ul>
						</article>
					</section>
					<!--//reviews-->
					
				</section>
				<!--//three-fourth content-->
				
				<!--sidebar-->
				<aside class="one-fourth right-sidebar">

					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article>
					<!--//Need Help Booking?-->
					
					<!--Why us?-->
					<article class="widget">
						<h4>Why us?</h4>
						<h5>Best Recommendation</h5>
						<p>Get the best suggestions, or get the best trip recommendation free of cost.</p>
						<h5>Best Platform</h5>
						<p>140+ travelling companies 3 million guest reviews</p>
						<h5>We’re Always Here</h5>
						<p>Call or email us, anytimeGet 24-hour support before, during, and after your trip</p>
					</article>
					<!--//Why us?-->
					
					
					
					
				</aside>
				<!--//sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
	{% endblock %}