<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="{% static 'Frontend/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'Frontend/css/theme-turqoise.css' %}" id="template-color" />
	<link rel="stylesheet" href="{% static 'Frontend/css/lightslider.min.css' %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700&amp;subset=latin,latin-ext,greek-ext,greek,cyrillic,vietnamese,cyrillic-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="{% static 'Frontend/js/e808bf9397.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'Frontend/images/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'Frontend/css/styler.css' %}" type="text/css" />

    	<title>Pak Tour Expert - Home</title>
</head>
<body>
	<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->

	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<div class="logo"><a href="{% url 'index' %}" title="Pak Tour Expert"><img src="images/txt/logo.png" alt="Pak Tour Expert" /></a></div>
			<!--//logo-->


			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="#">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" />
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->

			<!--contact-->
			<div class="contact">
				<span>24/7 Support number</span>
				<span class="number">+92 42 111 222 333</span>
			</div>
			<!--//contact-->
		</div>

		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="{% url 'trips' %}" title=" ">One day Trips</a></li>
					<li><a href="{% url 'trips' %}" title=" ">Multiple days Trips</a></li>
					<li><a href="{% url 'Destinatins' %}" title=" ">Destinations</a></li>
					<li><a href="#" title=" ">Wishlist</a></li>
					<li><a href="{% url 'index' %}" title=" ">Bookings</a></li>
					<li class="has-mega"><a  title="Pages">Deals</a>
					<ul class="mega">
							<li>
								<div class="row">
									<div class="one-third">
										<p>DESTINATIONS</p>
										<ul>
											<li><a href="#" title=" ">Tour Packages Azad Kashmir</a></li>
											<li><a href="#" title=" ">Tour Packages Hunza / Gilgit</a></li>
											<li><a href="#" title=" ">Tour Packages Kaghan / Naran</a></li>
											<li><a href="#" title=" ">Tour Packages Skardu</a></li>
											<li><a href="#" title=" ">Tour Packages Khyber Pakhtunkhwa</a></li>
											<li><a href="#" title=" ">Tour Packages Fairy Meadows</a></li>
										</ul>
									</div>
									<div class="one-third">
										<p>ACTIVITIES</p>
										<ul>
											<li><a href="#" title=" ">Advanced Treks</a></li>
											<li><a href="#" title=" ">Cliff Diving</a></li>
											<li><a href="#" title=" ">Mountaineering</a></li>
											<li><a href="#" title=" ">Trekking</a></li>
											<li><a href="#" title=" ">Paragliding</a></li>
											<li><a href="#" title=" ">Flying</a></li>
										</ul>
									</div>
									<div class="one-third">
										<p>GROUP PACKAGES</p>
										<ul>
											<li><a href="#" title=" ">Group Packages Azad Kashmir</a></li>
											<li><a href="#" title=" ">Group Packages Hunza / Gilgit</a></li>
											<li><a href="#" title=" ">Group Packages Kaghan / Naran</a></li>
											<li><a href="#" title=" ">Group Packages Skardu</a></li>
											<li><a href="#" title=" ">Group Packages Khyber Pakhtunkhwa</a></li>
											<li><a href="#" title=" ">Group Packages Fairy Meadows</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="#" title=" ">News</a></li>
					<li><a href="{% url 'blogs' %}" title="Blog">Blogs</a></li>
					<li><a href="#" title="Contact">Contact Us</a></li>
					<li><a  title="Login/ Signup" >Login/ Signup</a>
					<ul>
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="{% url 'register' %}">Signup</a></li>
							<li><a href="{% url 'index' %}">Settings</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->

	<!--slider-->
	<div class="slider">
		<ul id="hero-gallery" class="cS-hidden">
			<li data-thumb="{% static 'Frontend/images/uploads/main.jpg' %}">
				<img src="{% static 'Frontend/images/uploads/main.jpg' %}" alt="" />
			</li>
			<li data-thumb="{% static 'Frontend/images/uploads/main.jpg' %}">
				<img src="{% static 'Frontend/images/uploads/main.jpg' %}" alt="" />
			</li>
			<li data-thumb="{% static 'Frontend/images/uploads/main.jpg' %}">
				<img src="{% static 'Frontend/images/uploads/main.jpg' %}" alt="" />
			</li>
		</ul>
	</div>
	<!--//slider-->

	<!--search-->
	<div class="main-search">
		<div class="wrap">
			<form id="main-search" method="post" action="#">
				<div class="row">
					<!--column-->
					<div class="column radios one-fourth">
						<h5><span>01</span> What?</h5>
						<div class="row">
							<div class="f-item one-half">
								<input type="radio" name="radio" id="hotel" value="form1" />
								<label for="hotel">Trips</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="self_catering" value="form2" />
								<label for="self_catering">Hotels</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="flight" value="form3" />
								<label for="flight">Destinatins</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="cruise" value="form4" />
								<label for="cruise">Weather</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="flight_and_hotel" value="form5" />
								<label for="flight_and_hotel">Tour Operator</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="rent_a_car" value="form6" />
								<label for="rent_a_car">Dates</label>
							</div>
						</div>
					</div>
					<!--//column-->

					<div class="three-fourth">
						<!--form hotel-->
						<div class="form row" id="form1">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Your destination</label>
										<input type="text" placeholder="City, region, district or Place" id="destination1" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">Destination date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="datepicker1" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>
						<!--//form hotel-->

						<!--form self catering-->
						<div class="form row" id="form2">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination2">Your destination</label>
										<input type="text" placeholder="City, region, district or specific hotel" id="destination2" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item one-half datepicker">
										<label for="datepicker1">Check-in date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker4" name="datepicker4" /></div>
									</div>
									<div class="f-item one-half datepicker">
										<label for="datepicker2">Check-out date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker5" name="datepicker5" /></div>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-half espinner">
										<label for="spinner1">Guests</label>
										<input type="text" placeholder="" id="spinner4" name="spinner4" />
									</div>
									<div class="f-item one-half spinner">
										<label for="spinner2">Bedrooms</label>
										<input type="text" placeholder="" id="spinner5" name="spinner5" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>
						<!--//form self catering-->

						<!--form flight-->
						<div class="form row" id="form3">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination3">Leaving from</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination3" name="destination" />
									</div>
									<div class="f-item full-width">
										<label for="destination4">Going to</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination4" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item full-width datepicker">
										<label for="datepicker6">Departing on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker6" name="datepicker6" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
									<div class="f-item full-width datepicker">
										<label for="datepicker7">Arriving on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker7" name="datepicker7" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-third spinner">
										<label for="spinner6">Adults</label>
										<input type="text" placeholder="" id="spinner6" name="spinner6" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner7">Children</label>
										<input type="text" placeholder="" id="spinner7" name="spinner7" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner8">Infants</label>
										<input type="text" placeholder="" id="spinner8" name="spinner8" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>
						<!--//form flight-->

						<!--form cruise-->
						<div class="form row" id="form4">
							<!--column-->
							<div class="column  one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label>Your destination</label>
										<select>
											<option>I Don't Mind</option>
											<option>Africa</option>
											<option>Alaska</option>
											<option>Alaska - Gulf Northbound</option>
											<option>Alaska - Gulf Southbound</option>
											<option>Antarctica</option>
											<option>Arctic</option>
											<option>Australia</option>
											<option>Bahamas</option>
											<option>Bermuda</option>
											<option>Brazil</option>
											<option>Canada/New England</option>
											<option>Canada</option>
											<option>Caribbean</option>
											<option>Caribbean - Eastern</option>
											<option>Caribbean - Southern</option>
											<option>Caribbean - Western</option>
											<option>Coastal</option>
											<option>Costa Rica</option>
											<option>Cruise To Nowhere</option>
											<option>Europe</option>
											<option>Northern Europe</option>
											<option>Europe - Western</option>
											<option>Europe (Greenland)</option>
											<option>Europe (Norway)</option>
											<option>Far East</option>
											<option>Greece</option>
											<option>Hawaii</option>
											<option>India</option>
											<option>Mediterranean</option>
											<option>Mediterranean - Eastern</option>
											<option>Mexico</option>
											<option>Middle East</option>
											<option>New England</option>
											<option>New Zealand</option>
											<option>Pacific Coastal</option>
											<option>Pacific Northwest</option>
											<option>Panama Canal</option>
											<option>Russia</option>
											<option>South America</option>
											<option>South Pacific</option>
											<option>Southeast Asia</option>
											<option>Tahiti</option>
											<option>Transatlantic</option>
											<option>Transcanal</option>
											<option>Transpacific</option>
											<option>World Cruise</option>
										</select>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item one-half datepicker">
										<label for="datepicker8">Departure date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker8" name="datepicker8" /></div>
									</div>
									<div class="f-item one-half">
										<label>Cruise length</label>
										<select>
											<option>I Don't Mind</option>
											<option>1-2 Nights</option>
											<option>3-6 Nights</option>
											<option>7-9 Nights</option>
											<option>10-14 Nights</option>
											<option>Over 14 Nights</option>
										</select>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-half">
										<label>Cruise Line</label>
										<select>
											<option>I Don't Mind</option>
											<option>Azamara Club Cruises</option>
											<option>Carnival Cruise Lines</option>
											<option>Celebrity Cruises</option>
											<option>Costa Cruise Lines</option>
											<option>Cruise &amp; Maritime Voyages</option>
											<option>Crystal Cruises</option>
											<option>Cunard Line Ltd.</option>
											<option>Disney Cruise Line</option>
											<option>Holland America Line</option>
											<option>Hurtigruten Cruise Line</option>
											<option>MSC Cruises</option>
											<option>Norwegian Cruise Line</option>
											<option>Oceania Cruises</option>
											<option>Orion Expedition Cruises</option>
											<option>P&amp;O Cruises</option>
											<option>Paul Gauguin Cruises</option>
											<option>Peter Deilmann Cruises</option>
											<option>Princess Cruises</option>
											<option>Regent Seven Seas Cruises</option>
											<option>Royal Caribbean International</option>
											<option>Seabourn Cruise Line</option>
											<option>Silversea Cruises</option>
											<option>Star Clippers</option>
											<option>Swan Hellenic Cruises</option>
											<option>Thomson Cruises</option>
											<option>Viking River Cruises</option>
											<option>Windstar Cruises</option>
										</select>
									</div>

									<div class="f-item one-half spinner">
										<label for="spinner9">Cabins</label>
										<input type="text" placeholder="" id="spinner9" name="spinner9" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>
						<!--//form cruise-->

						<!--form flight+hotel-->
						<div class="form row" id="form5">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination5">Leaving from</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination5" name="destination" />
									</div>
									<div class="f-item full-width">
										<label for="destination6">Going to</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination6" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item full-width datepicker">
										<label for="datepicker9">Departing on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker9" name="datepicker9" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
									<div class="f-item full-width datepicker">
										<label for="datepicker10">Arriving on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker10" name="datepicker10" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-third spinner">
										<label for="spinner10">Adults</label>
										<input type="text" placeholder="" id="spinner10" name="spinner10" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner11">Children</label>
										<input type="text" placeholder="" id="spinner11" name="spinner11" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner12">Rooms</label>
										<input type="text" placeholder="" id="spinner12" name="spinner12" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>
						<!--//form flight+hotel-->

						<!--form rent a car-->
						<div class="form row" id="form6">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination7">Pick Up</label>
										<input type="text" placeholder="I want to pick up car in" id="destination7" name="destination" />
									</div>
									<div class="f-item full-width">
										<label for="destination8">Drop Off</label>
										<input type="text" placeholder="I want to pick drop off car in" id="destination8" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item full-width datepicker">
										<label for="datepicker11">Pick up time</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker11" name="datepicker11" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>00:00</option>
													<option>01:00</option>
													<option>02:00</option>
													<option>03:00</option>
													<option>04:00</option>
													<option>05:00</option>
													<option>06:00</option>
													<option>07:00</option>
													<option>08:00</option>
													<option>09:00</option>
													<option selected>10:00</option>
													<option>11:00</option>
													<option>12:00</option>
													<option>13:00</option>
													<option>14:00</option>
													<option>15:00</option>
													<option>16:00</option>
													<option>17:00</option>
													<option>18:00</option>
													<option>19:00</option>
													<option>20:00</option>
													<option>21:00</option>
													<option>22:00</option>
													<option>23:00</option>
												</select>
											</div>
										</div>
									</div>
									<div class="f-item full-width datepicker">
										<label for="datepicker12">Drop of time</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker12" name="datepicker12" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>00:00</option>
													<option>01:00</option>
													<option>02:00</option>
													<option>03:00</option>
													<option>04:00</option>
													<option>05:00</option>
													<option>06:00</option>
													<option>07:00</option>
													<option>08:00</option>
													<option>09:00</option>
													<option selected>10:00</option>
													<option>11:00</option>
													<option>12:00</option>
													<option>13:00</option>
													<option>14:00</option>
													<option>15:00</option>
													<option>16:00</option>
													<option>17:00</option>
													<option>18:00</option>
													<option>19:00</option>
													<option>20:00</option>
													<option>21:00</option>
													<option>22:00</option>
													<option>23:00</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-half spinner small">
										<label for="spinner13">Driver Age</label>
										<input type="text" placeholder="" id="spinner13" name="spinner13" />
									</div>
									<div class="f-item one-half">
										<label for="spinner2">Car type:</label>
										<select>
											<option>No Preference</option>
											<option>Economy</option>
											<option>Compact</option>
											<option>Midsize</option>
											<option>Standard</option>
											<option>Full Size</option>
											<option>Premium</option>
											<option>Luxury</option>
											<option>Convertible</option>
											<option>MiniSUV</option>
											<option>Sports Car</option>
										</select>
									</div>
								</div>
							</div>
							<!--//column-->
						</div>
						<!--//form rent a car-->
					</div>
					<input type="submit" value="Proceed to results" class="gradient-button search-submit" id="search-submit" />
				</div>
			</form>
		</div>
	</div>
	<!--//search-->

	<!--main-->
	<main class="main">
		<div class="wrap">
			<div class="row">
				<div class="full-width">

					<!--latest offers-->
					<header class="s-title">
						<h2>Explore our latest offers</h2>
					</header>

					<div class="offers">
						<div class="row">
							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/img1.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Watch Snowfall in Malam Jabba @ 30% off</h3>
									<a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/nathiagali.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Spend New Year‘s Eve in Nathiagali</h3>
									<a href="#" title="More info" class="gradient-button">More info</a>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/murree.jpg" alt="" /></a></figure>
								<div class="details">
									<h3> Hot weekends offers in the Murree</h3>
									<a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/thailand.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Our weekly top offer: Azad Kashmir</h3>
									<a href="#" title="More info" class="gradient-button">More info</a>
								</div>
							</article>
							<!--//column-->
						</div>
					</div>
					<!--//latest offers-->

					<header class="s-title">
						<h2>Top Attractive Places around the Pakistan</h2>
					</header>

					<!--top destinations-->
					<div class="destinations">
						<div class="row">
							<article class="one-fourth">
                                <figure><a href="{% url 'Dest' %}" title=""><img src="{% static 'Frontend/images/uploads/murree.jpg'%}" alt="" /></a></figure>
                                <div class="details">
                                    <!--<a href="location.html" title="View all" class="gradient-button">View all</a>-->
                                    <h4>Skardu</h4> <span class="count">102 Rreviews</span>
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                    <span class="count">Average Rating</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">4.5</span>
                                    <span class="count">Total Trips</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">150</span>
                                </div>
                            </article>
						</div>
					</div>
					<!--//top destinations-->
			<div class="full-width">
					<header class="s-title">
						<h2>Most popular Trips</h2>
					</header>

					<div class="deals">
						<div class="row">
							<!--deal-->
                                <article class="one-fourth">
                                    <figure>
                                        <a href="{% url 'trip' %}" >
                                            <img  src="{% static 'Frontend/images/uploads/murree.jpg'%}"  width="270" height="152" /></a>
                                    </figure>
                                    <div class="details">
                                        <a href="{% url 'trip' %}">
                                            <h3>Trip to Saiful Malook Naran</h3>
                                        </a>
                                        <span class="date"> 1st Jan </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									    <span class="days"> 2 Days/1 Night </span>
                                        <span class="price" ><meta itemprop="currency" content="PKR" />Price (per person)<em itemprop="price">Rs. 29,000</em></span>
										<div class="description"> <p>Starting Location: Islamabad</p> </div>
                                        <a href="/holiday-package/saiful-malook-naran-tour-2-days-1-night-30070" title="Book now" class="gradient-button">Book now</a>
                                    </div>
                                </article>



								</div>
								</div>

					<!--info boxes-->
					<div class="boxes">
						<div class="row">
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Handpicked Hotels</h4>
								<p>All Book Your Travel Hotels fulfil strict selection criteria. Each hotel is chosen individually and inclusion cannot be bought. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Detailed Descriptions</h4>
								<p>To give you an accurate impression of the hotel, we endeavor to publish transparent, balanced and precise hotel descriptions. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Exclusive Knowledge</h4>
								<p>We’ve done our research. Our scouts are always busy finding out more about our hotels, the surroundings and activities on offer nearby.</p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Passionate Service</h4>
								<p>Book Your Travels’s team will cater to your special requests. We offer expert and passionate advice for finding the right hotel. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Best Price Guarantee</h4>
								<p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Secure Booking</h4>
								<p>Book Your Travel reservation system is secure and your credit card and personal information is encrypted.We work to high standards and guarantee your privacy. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Benefits for Hoteliers</h4>
								<p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Any Questions?</h4>
								<p>Call us on <em>1-555-555-555</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.</p>
							</div>
						</article>
						<!--//column-->
					</div>
				</div>
					<!--//info boxes-->
				</div>
			</div>
		</div>
	</main>
	<!--//main-->

	<!--footer-->
	<footer class="footer">
		<div class="wrap">
			<div class="row">
				<!--column-->
				<article class="one-fourth">
					<h6>Pak Tour Expert</h6>
					<p>FAST NUCES, Lahore, Pakistan</p>
					<p><em>Phone:</em> 24/7 customer support: +92-42-111-222-333</p>
					<p><em>E:</em> <a href="#" title="booking@mail.com">support@paktourexpert.com</a></p>
				</article>
				<!--//column-->

				<!--column-->
				<article class="one-fourth">
					<h6>support</h6>
					<ul>
						<li><a href="#" title="Faq">FAQs</a></li>
						<li><a href="#" title="How do I make a reservation?">Policies</a></li>
						<li><a href="#" title="Payment options">Careers</a></li>
						<li><a href="#" title="Booking tips">Press Release</a></li>
					</ul>
				</article>
				<!--//column-->

				<!--column-->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
							<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
							<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
							<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
							<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
							<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
						</ul>
				</article>
				<!--//column-->

				<!--column-->
				<article class="one-fourth">
					<h6>Don’t miss our exclusive offers</h6>
					<form id="newsletter" action="#" method="post">
						<fieldset>
							<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
							<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
						</fieldset>
					</form>
				</article>
				<!--//column-->

				<div class="bottom full-width">
					<p > </p>
					<nav>
						<ul>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>
							<li><a href="#" title="Partners">Partners</a></li>
							<li><a href="#" title="Customer service">Customer service</a></li>
							<li><a href="#" title="FAQ">FAQ</a></li>
							<li><a href="#" title="Careers">Careers</a></li>
							<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
							<li><a href="#" title="Privacy statement">Privacy statement</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!---footer-->
<div class="lightbox" style="display:block;">
		<div class="lb-wrap">
			<a href="#" class="close">x</a>
			<div class="lb-content">
				<form class="row"method="POST">
                     {% csrf_token %}
                    <h3>Register</h3>
					<div class="f-item full-width">
						<label for="f_name">Username</label>
						<input type="text" id="ns_name" name="ns_name"  required/>
					</div>
					<div class="f-item full-width">
						<label for="email">E-mail address (optional)</label>
						<input type="email" id="email" name="email" />
					</div>
					<div class="f-item full-width">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" required />
					</div>
					<div class="f-item checkbox full-width">
						<input type="checkbox" id="newsletter_s" name="newsletter" />
						<label for="newsletter_s">Tell me about inspiring travel news, and exclusive discounts!</label>
					</div>
					<div class="f-item checkbox full-width">
						<p>By clicking "Create Account" you confirm that you accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>. </p>
						<input type="submit" id="register" name="register" value="Create Account" class="gradient-button" />
					</div>
				</form>
			</div>
		</div>
	</div>


	<script src="{% static 'Frontend/js/jquery.min.js' %}"></script>
	<script src="{% static 'Frontend/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/jquery.uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/jquery.slimmenu.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/lightslider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/scripts.js' %}"></script>
	<script type="text/javascript">
		(function( $ ) {
			$(document).ready(function(){
				$('.form').hide();
				$('#form1').show();
				$('.f-item:nth-child(1)').addClass('active');
				$('.f-item:nth-child(1) span').addClass('checked');

				$('#hero-gallery').lightSlider({
					gallery:true,
					item:1,
					pager:false,
					gallery:false,
					slideMargin: 0,
					speed:2000,
					pause:6000,
					mode: 'fade',
					auto:true,
					loop:true,
					onSliderLoad: function() {
						$('#hero-gallery').removeClass('cS-hidden');
					}
				});
			});
		})(jQuery);
	</script>

	<!-- TEMPLATE STYLES -->

</body>

<!-- Mirrored from themeenergy.com/themes/html/book-your-travel/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 05:21:00 GMT -->
</html>