{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="{% static 'Frontend/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'Frontend/css/theme-turqoise.css' %}" id="template-color" />
	<link rel="stylesheet" href="{% static 'Frontend/css/lightslider.min.css' %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700&amp;subset=latin,latin-ext,greek-ext,greek,cyrillic,vietnamese,cyrillic-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="{% static 'Frontend/js/e808bf9397.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'Frontend/images/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'Frontend/css/styler.css' %}" type="text/css" />

    	<title>Pak Tour Expert - Home</title>
</head>
<body>
	<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->

	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<div class="logo"><a href="{% url 'index' %}" title="Pak Tour Expert"><img src="{% static 'Frontend/images/txt/logo.png'%}" alt="Pak Tour Expert" /></a></div>
			<!--//logo-->


			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="#">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" />
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->

			<!--contact-->
			<div class="contact">
				<span>24/7 Support number</span>
				<span class="number">+92 42 111 222 333</span>
			</div>
			<!--//contact-->
		</div>

		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="{% url 'trips1' %}" title=" ">One day Trips</a></li>
					<li><a href="{% url 'trips2' %}" title=" ">Multiple days Trips</a></li>
					<li><a href="{% url 'places' %}" title=" ">Destinations</a></li>
                    <li><a href="{% url 'touroperator' %}" title=" ">Tour Operators</a></li>
					<li><a href="#" title=" ">Wishlist</a></li>
					<li class="has-mega"><a  title="Pages">Deals</a>
					<ul class="mega">
							<li>
								<div class="row">
									<div class="one-third">
										<p>DESTINATIONS</p>
										<ul>
											<li><a href="#" title=" ">Tour Packages Azad Kashmir</a></li>
											<li><a href="#" title=" ">Tour Packages Hunza / Gilgit</a></li>
											<li><a href="#" title=" ">Tour Packages Kaghan / Naran</a></li>
											<li><a href="#" title=" ">Tour Packages Skardu</a></li>
											<li><a href="#" title=" ">Tour Packages Khyber Pakhtunkhwa</a></li>
											<li><a href="#" title=" ">Tour Packages Fairy Meadows</a></li>
										</ul>
									</div>
									<div class="one-third">
										<p>ACTIVITIES</p>
										<ul>
											<li><a href="#" title=" ">Advanced Treks</a></li>
											<li><a href="#" title=" ">Cliff Diving</a></li>
											<li><a href="#" title=" ">Mountaineering</a></li>
											<li><a href="#" title=" ">Trekking</a></li>
											<li><a href="#" title=" ">Paragliding</a></li>
											<li><a href="#" title=" ">Flying</a></li>
										</ul>
									</div>
									<div class="one-third">
										<p>GROUP PACKAGES</p>
										<ul>
											<li><a href="#" title=" ">Group Packages Azad Kashmir</a></li>
											<li><a href="#" title=" ">Group Packages Hunza / Gilgit</a></li>
											<li><a href="#" title=" ">Group Packages Kaghan / Naran</a></li>
											<li><a href="#" title=" ">Group Packages Skardu</a></li>
											<li><a href="#" title=" ">Group Packages Khyber Pakhtunkhwa</a></li>
											<li><a href="#" title=" ">Group Packages Fairy Meadows</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="{% url 'News' %}" title=" ">News</a></li>
					<li><a href="{% url 'blogs' %}" title="Blog">Blogs</a></li>
					<li><a href="#" title="Contact">Contact Us</a></li>
                    <li><a href="{% url 'OrderMain' %}" title=" ">orders</a></li>
                     {% if username is not None %}
                    <li><a  title=" Hi {{ username }}" >Hi {{ username }}</a>
					<ul>
							<li><a href="#">Profile</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>

						</ul>
					</li>
                {% else %}
                    <li><a title="Login/ Signup" >Login/ Signup</a>
					<ul>
							<li><a  onclick="checkkill(1)" >Login</a></li>
							<li><a  onclick="checkkill(2)">Signup</a></li>

						</ul>
					</li>
                {% endif %}

				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->

	<!--slider-->
	<div class="slider">
		<ul id="hero-gallery" class="cS-hidden">
			<li data-thumb="{% static 'Frontend/images/uploads/main.jpg' %}">
				<img src="{% static 'Frontend/images/uploads/main.jpg' %}" alt="" />
			</li>
			<li data-thumb="{% static 'Frontend/images/uploads/main.jpg' %}">
				<img src="{% static 'Frontend/images/uploads/main.jpg' %}" alt="" />
			</li>
			<li data-thumb="{% static 'Frontend/images/uploads/main.jpg' %}">
				<img src="{% static 'Frontend/images/uploads/main.jpg' %}" alt="" />
			</li>
		</ul>
	</div>
	<!--//slider-->

	<!--search-->
	<div class="main-search">
		<div class="wrap">
			<div id="main-search" >
                <div class="row">
					<!--column-->
					<div class="column radios one-fourth">
						<h5><span>01</span> What?</h5>
						<div class="row">
							<div class="f-item one-half">
								<input type="radio" name="radio" id="radioo1" value="form1" checked  />
								<label for="Trips">Trips</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="radioo2" value="form2" />
								<label for="self_catering">Price Range</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="radioo3" value="form3" />
								<label for="flight">Destinatins</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="radioo4" value="form4" />
								<label for="cruise">Weather</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="radioo5" value="form5" />
								<label for="flight_and_hotel">Tour Operator</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="radioo6" value="form6" />
								<label for="rent_a_car">Dates</label>
							</div>
						</div>
					</div>
					<!--//column-->

					<div class="three-fourth">
						<!--form hotel-->
						<div class="form row" id="form1">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Your Trip Name</label>
										<input type="text" placeholder="Enter Desire trip name" id="fform1" name="fform1" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">Trip date</label>
										<div class="datepicker-wrap"><input type="text" placeholder=" choose Date" id="datepicker11" name="datepicker11" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>
						<!--//form hotel-->
<!--form hotel-->
                        <div class="form row" id="form2">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Select Your price Range</label>
                                        <select type="text" id="fform2" name="fform2" >
                                            <option value="1">0 - 3,000</option>
                                            <option value="2">3,001 - 6,000</option>
                                            <option value="3">6,001 - 9,000</option>
                                            <option value="4">9,000 - 12,000</option>
                                        </select>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">Destination date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker4" name="datepicker1" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>

                        <div class="form row" id="form3">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Your destination</label>
										<input type="text" placeholder="Enter City, region, district or Place" id="fform3" name="fform3" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">Destination date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="Choose Date" id="datepicker12" name="datepicker12" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>
						<!--//form hotel-->
<!--form hotel-->
                        <!--form hotel-->
						<div class="form row" id="form4">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Select your Desire Weather</label>
										 <select type="text" id="fform4" name="fform4" >
                                            <option value="1">Snowfall</option>
                                            <option value="2">Rain</option>
                                            <option value="3">Sunny</option>
                                            <option value="4">Cloudy</option>
                                        </select>
                                    </div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">Destination date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker5" name="datepicker1" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>
						<div class="form row" id="form5">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Trip Operator</label>
										<input type="text" placeholder="Enter Trip Operator Name" id="fform5" name="fform5" />
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">Destination date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="choose Date" id="datepicker13" name="datepicker13" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>

						<div class="form row" id="form6">
							<!--column-->
							<div class="column one-half">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">select your Travel date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="fform6" name="fform6" /></div>
									</div>
								</div>
							</div>
							<!--//column-->

							<!--column-->
							<div class="column  one-half">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item datepicker">
										<label for="datepicker1">select your Travel date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker6" name="datepicker1" /></div>
									</div>

								</div>
							</div>
							<!--//column-->


						</div>
						<!--//form hotel-->
					</div>
					<input type="submit" onclick="search()" value="Proceed to results" class="gradient-button search-submit" id="search-submit" />
				</div>
			</div>
		</div>
	</div>
	<!--//search-->
    {% block content %}
    {% endblock %}



	<!--footer-->
	<footer class="footer">
		<div class="wrap">
			<div class="row">
				<!--column-->
				<article class="one-fourth">
					<h6>Pak Tour Expert</h6>
					<p>FAST NUCES, Lahore, Pakistan</p>
					<p><em>Phone:</em> 24/7 customer support: +92-42-111-222-333</p>
					<p><em>E:</em> <a href="#" title="booking@mail.com">support@paktourexpert.com</a></p>
				</article>
				<!--//column-->

				<!--column-->
				<article class="one-fourth">
					<h6>support</h6>
					<ul>
						<li><a href="#" title="Faq">FAQs</a></li>
						<li><a href="#" title="How do I make a reservation?">Policies</a></li>
						<li><a href="#" title="Payment options">Careers</a></li>
						<li><a href="#" title="Booking tips">Press Release</a></li>
					</ul>
				</article>
				<!--//column-->

				<!--column-->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
							<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
							<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
							<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
							<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
							<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
						</ul>
				</article>
				<!--//column-->

				<!--column-->
				<article class="one-fourth">
					<h6>Don’t miss our exclusive offers</h6>
					<form id="prospects_form" >
						<fieldset>
							<input type="email" id="EmailID1" name="newsletter_signup" placeholder="Enter your email here" required />
							<input type="submit" id="newsletter_submit" name="newsletter_submit"  onclick="Myfun()" value="Signup" class="gradient-button" />
						</fieldset>
                         <label id="label1"></label>
					</form>
				</article>
				<!--//column-->
                 <script>
                        function Myfun() {
                           var abc=document.getElementById("EmailID1").value;
                          $.ajax({
                              type:"GET",
                              url: '/ajax/Subscribe_NewsLetter/',
                              data:{
                                     EmailID: abc
                                },
                            success: function (data) {
                                document.getElementById("label1").innerHTML = data;
                            },
                              failure: function(data) {
                                  alert('Got an error dude');
                              }

                          });
                        }


                        $("#prospects_form").submit(function(e) {
                            e.preventDefault();
                        });
                 </script>

				<div class="bottom full-width">
					<p > </p>
					<nav>
						<ul>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>
							<li><a href="#" title="Partners">Partners</a></li>
							<li><a href="#" title="Customer service">Customer service</a></li>
							<li><a href="#" title="FAQ">FAQ</a></li>
							<li><a href="#" title="Careers">Careers</a></li>
							<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
							<li><a href="#" title="Privacy statement">Privacy statement</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!---footer-->
<script>
    function search() {
		    var val=document.getElementsByName("radio");
		    var input;
		    var radio;
		    if(val[0].checked) {
                radio = 1;
               input = document.getElementById("fform1").value;
               //$("#fform1").datepicker.val();

            }
		    else if(val[1].checked)
            {
                radio = 2;
                input = document.getElementById("fform2").value;
            }
		    else if(val[2].checked)
            {
                radio = 3;
                input = document.getElementById("fform3").value;
            }
		    else if(val[3].checked)
            {
                radio = 4;
                input = document.getElementById("fform4").value;
            }
		     else if(val[4].checked)
            {
                radio = 5;
                input = document.getElementById("fform5").value;
            }
		      else if(val[5].checked) {
                radio = 6;
                input = document.getElementById("fform6").value;
            }
		    console.log(input)
            $.ajax({
                  type:"GET",
                  url: '/ajax/search/',
                  dataType: 'json',
                  data:{
                         radio: radio,
                         input: input,
                    },
                success: function (data) {
                    var url = "{% url 'search_results' %}";
                                document.location.href = url;

                },
                  failure: function(data) {
                      alert('Got an error dude');
                  }

              });
        }
</script>


	<script src="{% static 'Frontend/js/jquery.min.js' %}"></script>
	<script src="{% static 'Frontend/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/jquery.uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/jquery.slimmenu.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/lightslider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Frontend/js/scripts.js' %}"></script>
	<script type="text/javascript">
		(function( $ ) {
			$(document).ready(function(){
				$('.form').hide();
				$('#form1').show();
				$('.f-item:nth-child(1)').addClass('active');
				$('.f-item:nth-child(1) span').addClass('checked');

				$('#hero-gallery').lightSlider({
					gallery:true,
					item:1,
					pager:false,
					gallery:false,
					slideMargin: 0,
					speed:2000,
					pause:6000,
					mode: 'fade',
					auto:true,
					loop:true,
					onSliderLoad: function() {
						$('#hero-gallery').removeClass('cS-hidden');
					}
				});
			});
		})(jQuery);

	</script>
<div id="login_box" class="lightbox" style="display:block; visibility: hidden" >
		<div class="lb-wrap">
			<a onclick="checkkill(3)" class="close">x</a>
			<div class="lb-content">
					<h3>Log in</h3>
					<div class="f-item full-width">
						<label for="username">Username</label>
						<input type="text" id="ns_name" name="ns_name"  required/>
					</div>
					<div class="f-item full-width">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" required />
					</div>
					<div class="f-item checkbox full-width">
						<input type="checkbox" id="remember_me" name="checkbox" />
						<label for="remember_me">Remember me next time</label>
					</div>
					<div class="f-item full-width">
						<p><a href="#" title="Forgot password?">Forgot password?</a><br />
						Dont have an account yet? <a href="#" title="Sign up">Sign up.</a></p>
						<input type="submit" id="login" name="login" value="login" class="gradient-button" onclick="login_ajax()" />
                        <label id="login_label"></label>
					</div>

			</div>
		</div>
	</div>



<div class="lightbox" id="registerbox" style="display:block;visibility: hidden">
		<div class="lb-wrap">
			<a onclick="checkkill(4)" class="close">x</a>
			<div class="lb-content">

                    <h3>Register</h3>
					<div class="f-item full-width">
						<label for="f_name">Username</label>
						<input type="text" id="namee" name="ns_name"  required/>
					</div>
					<div class="f-item full-width">
						<label for="email">E-mail address (optional)</label>
						<input type="email" id="email" name="email" />
					</div>
					<div class="f-item full-width">
						<label for="password">Password</label>
						<input type="password" id="passwordd" name="password" required />
					</div>
					<div class="f-item checkbox full-width">
						<input type="checkbox" id="newsldetter_s" name="newsletter" />
						<label for="newsletter_s">Tell me about inspiring travel news, and exclusive discounts!</label>
					</div>
					<div class="f-item checkbox full-width">
						<p>By clicking "Create Account" you confirm that you accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>. </p>
						<input type="submit" id="register" name="register" value="Create Account" class="gradient-button" onclick="signup_ajax()" />
                        <a href="{% provider_login_url "facebook" method="oauth2" %}"> Facebook login</a>
                        <label>{{ label }}</label>
					</div>
			</div>
		</div>
	</div>
    <script>
    function checkkill(a) {
        console.log(a);
        if(a==1){
            $("#login_box").css("visibility", "visible");
            return;}

        else if(a==2){
            $("#registerbox").css("visibility", "visible");
            return;
        }
        else if(a==3){
             $("#login_box").css("visibility", "hidden");
        return;}
        else if(a==4){
            $("#registerbox").css("visibility", "hidden");
        return;}

    }
    function login_ajax(){
        username=document.getElementById("ns_name").value;
        password=document.getElementById("password").value;
        $.ajax({
              type:"GET",
              url: '/ajax/Login/',
              dataType: 'json',
              data:{
                  username:username,
                  password:password,
                },
            success: function (data) {
                if(data.message.toString()=="sucessfully"){
                    location.reload();
                }
                else{
                    document.getElementById("login_label").innerHTML=data.message.toString();
                }

            },
              failure: function(data) {
                  alert('Got an error dude');
              }

          });
    }
    function signup_ajax() {
        username=document.getElementById("namee").value;
        password=document.getElementById("passwordd").value;
        $.ajax({
              type:"GET",
              url: '/ajax/signup/',
              dataType: 'json',
              data:{
                  username:username,
                  password:password,
                },
            success: function (data) {
                if(data.message.toString()=="sucessfully"){
                    location.reload();
                }
                else{
                    document.getElementById("login_label").innerHTML=data.message.toString();
                }

            },
              failure: function(data) {
                  alert('Got an error dude');
              }

          });

    }
    </script>

	<!-- TEMPLATE STYLES -->

</body>

<!-- Mirrored from themeenergy.com/themes/html/book-your-travel/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 05:21:00 GMT -->
</html>