{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<div class="row">
		
				<div class="full-width">
					<header class="s-title">
						<h2>Most popular Tor Operators</h2>
					</header>
                </div>
					
					<div class="destinations">
						<div class="row">
                            {% for op in operators %}
							<article class="one-fourth">
                                <figure><a href="Operator/{{ op.Op_Id }}" title=""><img src="{{op.pic.url}}" alt="" style="height:200px;width:100%;background-size:cover;"/></a></figure>
                                <div class="details">

                                    <h4>{{op.Operator_Name}}</h4>
                                     <span class="stars">
                                        {% if op.Average_Rating < 0.6 %}
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                        {% elif op.Average_Rating >= 0.6 and op.Average_Rating < 1.6 %}
                                             <i class="material-icons">&#xE838;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                             <i class="material-icons">&#xe83a;</i>
                                        {% elif op.Average_Rating >= 1.6 and op.Average_Rating < 2.6 %}
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xe83a;</i>
                                            <i class="material-icons">&#xe83a;</i>
                                            <i class="material-icons">&#xe83a;</i>
                                        {% elif op.Average_Rating >= 2.6 and op.Average_Rating < 3.6  %}
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xe83a;</i>
                                            <i class="material-icons">&#xe83a;</i>
                                        {% elif op.Average_Rating >= 3.6 and op.Average_Rating < 4.6 %}
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xe83a;</i>
                                        {% elif op.Average_Rating >= 4.6 %}
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                        {% endif %}
                                    </span>
                                    <span class="count">Reviews</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <span class="">{{op.Total_Reviews}}</span>
                                    <span class="count">Average Rating</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">{{op.Average_Rating}}</span>
                                    <span class="count">Total Trips</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="">{{op.Total_Trips}}</span>
                                </div>
                            </article>
                            {% endfor %}
						</div>
					</div>
			<div class="bottom-nav">
						<!--back up button-->
						<a href="#" class="scroll-to-top" title="Back up">Back up</a> 
						<!--//back up button-->
						</div>
						<!--pager-->

						<!--//pager-->
					
		</div>
        </div>
	</main>
	<!--//main-->

	{% endblock %}