{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<div class="row">
		
				<div class="full-width">
					<header class="s-title">
						<h2>Most popular Trips</h2>
					</header>
                </div>
					
					<div class="deals">
						<div class="row">
							<!--deal-->
                            {% for trip in trips %}
                                <article class="one-fourth">
                                    <figure>
                                        <a href="Trip/{{ trip.Trip_Id }}" >
                                            <img  src="{{trip.pic.url}}"  style="height:200px;width:100%;background-size:cover;"--> /></a>
                                    </figure>
                                    <div class="details">
                                        <a href="Trip/{{ trip.Trip_Id }}">
                                            <h3>{{trip.T_Name}}</h3>
                                        </a>
                                        <span class="date"> {{trip.startDate}} </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									    <span class="days"> {{trip.noOfDays}} Days/ {{ trip.noOfNights }} Night </span>
                                        <span class="price" ><meta itemprop="currency" content="PKR" />Price (per person)<em itemprop="price">Rs. {{trip.price}}</em></span>
										<div class="description"> <p>Starting Location: {{trip.startLocation}}</p> </div>
                                        <a  id="id{{ trip.Trip_Id }}" onclick="myFunction({{ trip.Trip_Id  }})" title="Book now" class="gradient-button">Book now</a>
                                    </div>
                                </article>

                                  <script>
                        function myFunction( avc) {
                            document.getElementById("id"+avc).innerHTML="wait"
                          $.ajax({
                              type:"GET",
                              url: '/ajax/Add_in_Cart/',
                              dataType: 'json',
                              data:{
                                     Item_id: avc,
                                  quantity:1,

                                },
                            success: function (data) {
                                document.getElementById("id"+avc).innerHTML = data.message;
                                document.getElementById("Count").innerHTML = "<span class=\"icon-shopping_cart\"></span>["+data.Count.toString()+"]"
                                //window.location.href=""
                            },
                              failure: function(data) {
                                  alert('Got an error dude');
                              }

                          });
                        }
                        </script>
                            {% endfor %}

								</div>
								</div>
			                <div class="bottom-nav">
							    <a href="#" class="scroll-to-top" title="Back up">Back up</a>
						    </div>
					
		</div>
        </div>
	</main>
	<!--//main-->
	

	{% endblock %}