{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
  <style type="text/css">
    .ratings {
      float: left;
    }

    .ratings:not(:checked)>input {
      position: absolute;
      top: -9999px;
      clip: rect(0, 0, 0, 0);
    }

    .ratings:not(:checked)>label {
      float: right;
      width: 1em;
      padding: 0 .1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 200%;
      line-height: 1.2;
      color: #ddd;
      text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .ratings:not(:checked)>label:before {
      content: '★ ';
    }

    .ratings>input:checked~label {
      color: #f70;
      text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .ratings:not(:checked)>label:hover,
    .ratings:not(:checked)>label:hover~label {
      color: gold;
      text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .ratings>input:checked+label:hover,
    .ratings>input:checked+label:hover~label,
    .ratings>input:checked~label:hover,
    .ratings>input:checked~label:hover~label,
    .ratings>label:hover~input:checked~label {
      color: #ea0;
      text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .ratings>label:active {
      position: relative;
      top: 2px;
      left: 2px;
    }

    /* end of Lea's code */

    /*
 * Clearfix from html5 boilerplate
 */

    .clearfix:before,
    .clearfix:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */
    }

    .clearfix:after {
      clear: both;
    }

    /*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

    .clearfix {
      *zoom: 1;
    }

    /* my stuff */
    #status,
    button {
      margin: 20px 0;
    }
  </style>









    <!--main-->
	<main class="main">		
		<div class="wrap">
		
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<!--crumbs-->
				<ul>
					<li><a href="#" title="Home">Home</a></li>
					<li><a href="#" title="Travel guides">Trips</a></li>
					<li>{{ p.T_Name }}</li>
				</ul>
				<!--//crumbs-->
				

			</nav>
			<!--//breadcrumbs-->
			
			<div class="row">
				<!--trip three-fourth content-->
				<section class="three-fourth">
				
				    <h1>{{p.T_Name}}</h1>
					<!--gallery-->
					<div class="gallery">
						<ul id="image-gallery" class="cS-hidden">
							<li data-thumb="{% static 'Frontend/images/uploads/trip_1.jpg' %}">
								<img src="{% static 'Frontend/images/uploads/trip_1.jpg' %}" alt="" />
							</li>
							<li data-thumb="{% static 'Frontend/images/uploads/trip_2.jpg' %}">
								<img src="{% static 'Frontend/images/uploads/trip_2.jpg' %}" alt="" />
							</li>
							<li data-thumb="{% static 'Frontend/images/uploads/trip_3.jpg' %}">
								<img src="{% static 'Frontend/images/uploads/trip_3.jpg' %}" alt="" />
							</li>
							<li data-thumb="{% static 'Frontend/images/uploads/trip_4.jpg' %}">
								<img src="{% static 'Frontend/images/uploads/trip_4.jpg' %}" alt="" />
							</li>
							<li data-thumb="{% static 'Frontend/images/uploads/trip_5.jpg' %}">
								<img src="{% static 'Frontend/images/uploads/trip_5.jpg' %}" alt="" />
							</li>
							<li data-thumb="{% static 'Frontend/images/uploads/trip_6.jpg' %}">
								<img src="{% static 'Frontend/images/uploads/trip_6.jpg' %}" alt="" />
							</li>
						</ul>
					</div>
					<!--//gallery-->
				
					<!--inner navigation-->
					<nav class="inner-nav">
						<ul>
							<li><a href="#general_info" title="General Information">General Information</a></li>
							<li><a href="#Trip_Itinerary" title="Trip Itinerary">Trip Itinerary</a></li>
							<li><a href="#Facilities" title="Facilities">Facilities</a></li>
							<li><a href="#Event_Host" title="Event Host">Event Host</a></li>
							<li><a href="#Cancellation_Policy" title="Cancellation Policy">Cancellation Policy</a></li>
							<li><a href="#Reviews" title="Reviews">Reviews</a></li>
						</ul>
					</nav>
					<!--//inner navigation-->
					
					<!--General Information-->
					<section id="general_info" class="tab-content">
						<article>
							<h2>General Information</h2>
							<div class="text-wrap">
							<p></p>
                            </div>
							
							<h3>Required Gear</h3>
							<ul class="Required_Gear">
								
								<li> Sun Block and Sun glasses </li>
								<li> Beanie (highly recommended) </li>
								<li> Hand wash/soap/sanitizer, wipes, tooth paste and all other necessities </li>
								<li> Muffler (highly recommended) </li>
								<li> Gloves (highly recommended) </li>
								<li> Fleece/Sweaters </li>
								<li> Trekking boots/Joggers/Comfortable Shoes/Slippers </li>
								
							</ul>
							
							<h3>Duration</h3>
							<p> {{p.noOfDays}} Days/{{p.noOfNights}} Night </p>
							
						</article>
					</section>
					<!--General Information-->
					
					<!--Trip Itinerary-->
					<section id="Trip_Itinerary" class="tab-content">
						<article>
							<h2>Trip Itinerary</h2>
							<div class="text-wrap">	
								<h4>Day 1</h4>
								<li>11:00 pm Departure from Islamabad</li>
								<li>08:00 am Breakfast at Mansehra</li>
								<li>10:00 am Sightseeing/Photography at River Kunhar near Balakot</li>
								<li>11:00 am Sightseeing/Photography at Kiwai</li>
								<li>12:00 pm Sightseeing/Photography at Shogran</li>
								<li>01:00 pm Sightseeing/Photography at Siri/Paye Meadows</li>
								<li>08:00 pm Dinner at Naran</li>
							</div>
							
							<div class="text-wrap">	
								<h4>Day 2</h4>
								<li>08:00 am Breakfast </li>
								<li>10:30 am Sightseeing/Photography at Lake Saif ul Malook</li>
								<li>08:00 pm Dinner at Naran</li>
							</div>
							
							<div class="text-wrap">	
								<h4>Day 3</h4>
								<li>07:00 am Breakfast</li>
								<li>07:45 am Departure for Islamabad</li>
								<li>11:30 pm Arrival at Lahore</li>
							</div>
							
						</article>
					</section>
					<!--//Trip Itinerary-->
					
					<!--Facilities-->
					<section id="Facilities" class="tab-content">
						<article>
							<h2>Facilities</h2>
							<div class="text-wrap">	
								<h4>Services</h4>
								<ul class="three-col">
									<li>Transport</li>
									<li>Guide</li>
									<li>Standard Meals</li>
									<li>Basic first aid kit</li>
									<li>Accommodation (3-4 persons sharing)</li>
									<li>Photography</li>
								</ul>
							</div>
							
							<div class="text-wrap">	
								<h4>Activities</h4>
								<p>Sightseeing </p>
							</div>
						</article>
					</section>
					<!--//Facilities-->
					
					<!--Event Host-->
					<section id="Event_Host" class="tab-content">
						<article>
							<h2>Event Host</h2>
							<div class="text-wrap">	
								<h4>Tour Operator</h4>
								<p>{{p.event_host.Operator_Name}}
								<br>Contact: {{p.event_host.Op_phone}}
                                <br>Email: {{ p.event_host.Op_email }}</p>
							</div>
						</article>
					</section>
					<!--//Event Host-->
					
					<!--Cancellation Policy-->
					<section id="Cancellation_Policy" class="tab-content">
						<article>
							<h2>Cancellation Policy</h2>
							<div class="text-wrap">	
								<li>30% of the total amount will be deducted if cancellation notified 7 days prior to the trip.</li>
								<li>50% of the total amount will be deducted if cancellation notified 3 days prior to the trip.</li>
								<li>100% of the total amount will be deducted if cancellation notified 2 days prior to the trip.</li>
								<li>100% of the total amount will be deducted if cancellation notified 4 days prior to the trip.</li>
								<li>100% of the total amount will be deducted if cancellation notified in the last 4 days prior to the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; trip unless the trip is canceled by the management</li>
							</div>
						</article>
					</section>
					<!--//Cancellation Policy-->
					
					<!--Reviews-->
					<section id="Reviews" class="tab-content">
						<article id="mytable1">
							<h2>Trip Score and Score Breakdown</h2>
							<div class="score">
								<span class="achieved">{{ p.Average_Rating }} </span>
								<span> / 5</span>
								<p class="info">Based on <label id="reviewcount"></label> {{ p.Total_Reviews }} reviews</p>
								<p class="disclaimer">Reviews are written by our customers after their trip to <strong>{{p.T_Name}}.</strong></p>
							</div>

						</article>
						
						<article>
							<h2>Reviews</h2>
							<ul class="reviews">
								<!--review-->
                            <div id="mytable">
                                {% for rev in revs %}
								<li>
									<figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>{{rev.reviewBy}}</span><br /><br />{{rev.created_at}}</address>
									</figure>
									<div class="rev "><p>{{rev.rev_good}}</p></div>
									</li>
								<!--//review-->
								{% endfor %}
                            </div>

								<!--review-->
								<li style="background-color: red">
                                    {% if username is not None %}
                                    <figure class="left">
										<img src="{% static 'Frontend/images/uploads/avatar.jpg' %}" alt="avatar" />
										<address><span>{{username}}</span><br /><br /></address>
									</figure>
							        <input  id="reviewww" required style="border: black 1px dotted " name=" " placeholder="Place your Review" />
                                        <div id="ratingsForm">
                                        <fieldset class="ratings">
                                        <input type="radio" hidden id="star5" name="ratings" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                        <input type="radio" hidden id="star4" name="ratings" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                        <input type="radio" hidden id="star3" name="ratings" value="3" /><label for="star3" title="Meh">3 stars</label>
                                        <input type="radio" hidden id="star2" name="ratings" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                        <input type="radio" hidden id="star1" name="ratings" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                                        </fieldset>
                                        <div class="clearfix"></div>
                                        </div>

                                    <input type="submit" id="buttonc" onclick="Myfuni({{ p.Trip_Id }})" value="Submit" class="gradient-button" />
                                    <label id="label11"></label>
                                    {% else %}
                                    <label> Please login for add review</label>
                                    {% endif %}
                                </li>
								<!--//review-->

							</ul>
						</article>
					</section>
					<!--//Reviews-->
                 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
					 <script>


                         var rating=0;
                         $(document).ready(function () {

                            });


                        function Myfuni(hhhh) {
                            var content=document.getElementById("reviewww").value;
                            document.getElementById("label11").innerHTML="wait"
                                if ($("#ratingsForm :radio:checked").length == 0) {
                                  rating=0;
                                } else {
                                  rating= $('input:radio[name=ratings]:checked').val();
                                }
                          $.ajax({
                              type:"GET",
                              url: '/ajax/Add_Trip_Review/',
                              dataType: 'json',
                              data:{
                                     Item_id: hhhh,
                                     content: content,
                                     ratings:rating,
                                },
                            success: function (data) {
                                document.getElementById("label11").innerHTML = data.message.toString();
                                document.getElementById("reviewcount").innerHTML = data.totalreviews.toString();
                                $("#mytable").load( " #mytable" );
                                $("#mytable1").load( " #mytable1" );
                            },
                              failure: function(data) {
                                  alert('Got an error dude');
                              }

                          });
                        }
                        </script>
				</section>
				<!--//trip content-->
				
			<aside class="one-fourth right-sidebar">

					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article>
					<!--//Need Help Booking?-->

					<!--Why us?-->
					<article class="widget">
						<h4>Why us?</h4>
						<h5>Best Recommendation</h5>
						<p>Get the best suggestions, or get the best trip recommendation free of cost.</p>
						<h5>Best Platform</h5>
						<p>140+ travelling companies 3 million guest reviews</p>
						<h5>We’re Always Here</h5>
						<p>Call or email us, anytimeGet 24-hour support before, during, and after your trip</p>
					</article>
					<!--//Why us?-->




				</aside>
				<!--//sidebar-->
			</div>
			<!--//row-->
		</div>
	</main>
	<!--//main-->
	

	<script type="text/javascript">
	function initialize() {
		var secheltLoc = new google.maps.LatLng(49.47216, -123.76307);

		var myMapOptions = {
			 zoom: 15
			,center: secheltLoc
			,mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var theMap = new google.maps.Map(document.getElementById("map_canvas"), myMapOptions);


		var marker = new google.maps.Marker({
			map: theMap,
			draggable: true,
			position: new google.maps.LatLng(49.47216, -123.76307),
			visible: true
		});

		var boxText = document.createElement("div");
		boxText.innerHTML = "<strong>Best ipsum hotel</strong>1400 PennsylSUVia Ave,Washington DCwww.bestipsumhotel.com";

		var myOptions = {
			 content: boxText
			,disableAutoPan: false
			,maxWidth: 0
			,pixelOffset: new google.maps.Size(-140, 0)
			,zIndex: null
			,closeBoxURL: ""
			,infoBoxClearance: new google.maps.Size(1, 1)
			,isHidden: false
			,pane: "floatPane"
			,enableEventPropagation: false
		};

		google.maps.event.addListener(marker, "click", function (e) {
			ib.open(theMap, this);
		});

		var ib = new InfoBox(myOptions);
		ib.open(theMap, marker);
	}
	</script>

	<script type="text/javascript">
    	 $(document).ready(function() {
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:6,
                slideMargin: 0,
                speed:500,
                auto:true,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });

			$('#gallery1,#gallery2,#gallery3,#gallery4').lightGallery({
				download:false
			});
		});






    </script>




	{% endblock %}
