{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<div class="row">
			<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table " >
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Trip Name</th>
						        <th>Price per Person</th>
						        <th>No of People</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody id="mytable">
                                      <tr class="text-center" id="abc{{ items.Trip_Id }}">
                                        <td class="product-remove" onclick="Update({{ items.Trip_Id }},this)"><a ><span class="ion-ios-close"></span></a></td>
                                        <td class="image-prod" >
                                            <div  class="img" style="background-image:url({{ items.pic.url }});"></div></td>
                                        <td class="product-name" >
                                            <a href="Trip/{{ items.Trip_Id }}"><h3  > {{ items.T_Name }}</h3></a>
                                        </td>
                                            <td class="price">
                                                 {% if items.Item_Is_Discount %}
                                                    Rs. {{items.Discount_Price }}
                                                 {% else %}
                                                    Rs. {{ items.price }}
                                                 {% endif %}
                                            </td>
                                        <td class="quantity text-center">
                                            <select id="leave{{ items.Trip_Id }}" class="dropdown" onchange="Update({{ items.Trip_Id }},this)"  >
                                              <option value="1">1</option>
                                              <option value="2" >2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                            </select>
                                             <script>
                                                var element = document.getElementById("leave{{ items.Trip_Id }}");
                                                 element.value = {{ quantity }};
                                            </script>
                                      </td>
                                         <td class="total" >
                                            Rs.<label id="Qtotal{{ items.Trip_Id }}">{{ total}}</label>

                                      </tr><!-- END TR-->
                                 <script>
                        function Update(avc,ddlFruits) {
                                var selectedText = ddlFruits.options[ddlFruits.selectedIndex].innerHTML;
                                var quan = ddlFruits.value;
                                document.getElementById("Qtotal"+avc).innerHTML = "wait"
                                document.getElementById("PriceTotal").innerHTML = "wait"
                                document.getElementById("PriceTotal1").innerHTML = "wait"
                          $.ajax({
                              type:"GET",
                              url: '/ajax/Add_in_Cart/',
                              dataType: 'json',
                              data:{
                                     Item_id: avc,
                                     quantity:quan
                                },
                            success: function (data) {
                                  document.getElementById("Qtotal"+avc).innerHTML = data.PriceTotal.toString();
                                  document.getElementById("PriceTotal").innerHTML = data.PriceTotal.toString();
                                  document.getElementById("PriceTotal1").innerHTML = data.PriceTotal.toString();
                                      var abc = document.getElementById('tt');
                                      var a = document.createElement('div');
                                      var c = abc.childElementCount;
                                      if (quan > c) {
                                          while (quan != c) {
                                              var a = document.createElement('div');
                                              a.innerHTML = "<label>Name: </label><input>";
                                              abc.appendChild(a);
                                              c++;
                                          }
                                      }
                                      if (c > quan)
                                          while (quan != c) {
                                              abc.removeChild(abc.lastChild);
                                              c--;
                                          }
                            },
                              failure: function(data) {
                                  document.getElementById("Qtotal"+avc).innerHTML = "ServerTimeout"
                                  document.getElementById("PriceTotal").innerHTML = "ServerTimeout"
                                  document.getElementById("PriceTotal1").innerHTML = "ServerTimeout"
                              }

                          });

                        }
                 </script>

						    </tbody>
						  </table>
					  </div>
    			</div>
                <div id="tt">
                </div>
    		</div>
            <div>
            </div>
            <div></div>
            <div>
            </div>
            <div></div>
    		<div class="row justify-content-end">
                <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						Rs. <span id="PriceTotal" >{{ total }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Service Charges</span>
    						Rs. <span>0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						Rs. <span>0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						Rs. <span id="PriceTotal1">{{ total }}</span>
    					</p>
    				</div>
                     <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <p class="text-center"><button type="submit" class="btn btn-primary py-3 px-4">Proceed to Checkout</button></p>
                    </form>
    			</div>
    		</div>
			</div>
		</section>
					
		</div>
        </div>
	</main>
	<!--//main-->
	

	{% endblock %}