{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->




<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table " >
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>Order ID</th>
						        <th>Status</th>
						      </tr>
						    </thead>
						    <tbody>
                             {% for order in orders %}
                                      <tr class="text-center" >
                                          <td> <a href="/OrderDetails/{{ order.O_id }}" class="product-name">{{ order.O_id }}</a></td>
                                            <td>
                                                {% if order.Order_Canceled%}
                                                    Order Canceled
                                                {% elif order.Order_Booked%}
                                                    Order Completed
                                                {% elif order.Payment_Received%}
                                                    process the Booking
                                                {% elif order.Order_Verified %}
                                                    Waiting for Payment
                                                {% else %}
                                                    verifying Order
                                                {% endif %}
                                            </td>
                                      </tr><!-- END TR-->
                             {% endfor %}
						    </tbody>
						  </table>

    			</div>
    		</div>
                </div>
			</div>
		</section>

   {% endblock %}