{% extends 'Frontend/repeater.html' %}
{% load static %}
{% block content %}
	<!--main-->




<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
              <form class="billing-form bg-light p-3 p-md-5">
                  <h3 class="billing-heading mb-4">Shipment Details</h3>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name:&Tab;&Tab;</label>
                         <Label id="Name" >{{ data.Cust.U_Name }}</label>
                      </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1">City:&Tab;&Tab;</label>
                            <Label id="City" >{{ data.Cust.U_City }}</label>
                     </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1">Phone Number:&Tab;&Tab;</label>
                            <Label id="PH" >{{ data.Cust.U_PH }}</label>
                          </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Email: &nbsp;</label>
                          <a id="Password" >{{ data.Cust.U_email }}</a>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Package: &nbsp;</label>
                          <a id="Password" >{{ data.items_in_cart.T_Name }}</a>
                      </div>
                  <div class="form-group">
                        <label for="exampleInputPassword1">No of People &nbsp;</label>
                          <a id="Password" >{{ data.quantity }}</a>
                      </div>
                  <p class="border-right"><a href="#" class="btn btn-primary">Edit Profile</a></p>
			</form>
<!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
    						<span>Subtotal</span>
    						<span id="PriceTotal" >Rs. {{ data.Total }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>Rs. 0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>Rs. 0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span id="PriceTotal1">Rs. {{ Total }}</span>
    					</p>
								</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
                        <form method="POST" class="form-horizontal">
                                        {% csrf_token %}
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" disabled class="mr-2"> EasyPaisa</label>
											</div>
										</div>
                                    </div>
                                        <div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" disabled class="mr-2"> Credit Card</label>
											</div>
										</div>

									    </div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" required  class="mr-2"> Cash on Delivery</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox"  >
											   <label><input type="checkbox" id="checkbox9" required name="checkbox9" value="1" class="mr-2"> I have read and accept the <a href="#">Terms and Conditions</a></label>
											</div>
										</div>
									</div>
									<p><button type="submit" id="submit" class="btn btn-primary py-3 px-4">Place order</button></p>
                                    </form>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->



{% endblock %}